<app-page-header [title]="'Admin Login'">   

   <div *ngIf="!isLoggedIn; else alreadyLogged">
      <form 
         class="login-form"
         [formGroup]="loginFrom"
         (ngSubmit)="onSubmit(loginFrom.value)"
         >
         <mat-form-field>
            <mat-label>Username</mat-label>
            <input 
               id="username" 
               required 
               matInput 
               formControlName="username"
               >
         </mat-form-field>

         <mat-form-field>
            <mat-label>Password</mat-label>
            <input 
               id="password" 
               type="password" 
               required 
               matInput 
               formControlName="password"
               >
         </mat-form-field>

         <button mat-raised-button type="submit">Log in</button>
      </form>
   </div>

   <ng-template #alreadyLogged>
      <app-top-bar></app-top-bar>
   </ng-template>

</app-page-header>