<mat-icon>
    <ng-container *ngIf="mob.active else inactive">
        done
    </ng-container>
    <ng-template #inactive>
        clear
    </ng-template>
</mat-icon>

<app-mob-portrait [mob]="mob"
                  [showName]="true"
                  [showLevel]="true">
</app-mob-portrait>

<button mat-flat-button
        color="accent"
        (click)="onEdit()">
    Edit
</button>