<app-page-header [title]="PAGE_TITLE">
    <form class="search-form"
          [formGroup]="mobsForm"
          (ngSubmit)="onSubmit(mobsForm.value)">
        <mat-form-field>
            <input matInput
                   placeholder="Search by name"
                   formControlName="search">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <app-level-range-filter></app-level-range-filter>
        <div fxLayout="row"
             fxLayoutGap="10px">
            <button mat-flat-button
                    color="accent"
                    type="submit">
                Filter
            </button>
            <button mat-flat-button
                    color="accent"
                    type="submit"
                    (click)="mobsForm.reset()">
                Reset
            </button>
        </div>
    </form>
</app-page-header>

<mat-paginator [pageIndex]="page.number"
               [length]="page.totalElements"
               [pageSize]="page.size"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)">
</mat-paginator>

<div class="table-wrapper">
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="icon">
            <mat-header-cell class="table-icon-cell"
                             *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell class="table-icon-cell"
                      *matCellDef="let species">
                <div class="icon fiesta-icon">
                    <svg [attr.width]="32"
                         [attr.height]="32">
                        <image [attr.href]="STATIC_ASSETS + 'mob-portraits/' + species.mob_portrait + '.webp'"
                               [attr.x]="1"
                               [attr.y]="1"
                               [attr.width]="30"
                               [attr.height]="30" />
                        <circle class="portrait-contour"
                                cx="16"
                                cy="16"
                                r="15"
                                stroke-width="2"
                                [attr.fill-opacity]="0" />
                    </svg>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let species"> {{species.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell class="table-name-header"
                             *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell class="table-name-cell"
                      *matCellDef="let species"><a [routerLink]="['/', ROUTES.mobs, species.id]">{{ species.name }}</a></mat-cell>
        </ng-container>

        <!--<ng-container matColumnDef="level">
            <mat-header-cell *matHeaderCellDef>Level</mat-header-cell>
            <mat-cell *matCellDef="let species">{{mob.level}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="exp">
            <mat-header-cell *matHeaderCellDef>Exp.</mat-header-cell>
            <mat-cell *matCellDef="let species">{{mob.exp}}</mat-cell>
        </ng-container>-->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <app-page-loader [status]="loadingStatus"></app-page-loader>

    <app-table-no-results-found *ngIf="loadingStatus == 'ok' && dataSource.data.length == 0"></app-table-no-results-found>
</div>

<mat-paginator [pageIndex]="page.number"
               [length]="page.totalElements"
               [pageSize]="page.size"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)">
</mat-paginator>