@use '@angular/material' as mat;
@import "styles.scss";
@import "style/colors";

.page-header {
   background-color: mat.get-color-from-palette($md-fiesta-background, 700);

   h1 {
      color: white;
      margin: 0;
      font-size: 2.5em;
      padding: 40px 20px;
   }

   h2 {
      background-color: mat.get-color-from-palette($md-fiesta-background, 500);
   }

   .page-header-menu {
      padding-top: 5px;

      border-top: 1px solid black;
      color: white;
   }
}
