<div id="{{quest.id}}"
     class="quest-title"
     (click)="this.infoVisible = !this.infoVisible">
    <div class="quest-title-col"
         [ngClass]="getQuestClass(quest.quest_type)">
        <app-quest-icon [questType]="quest.quest_type"></app-quest-icon>
        <app-quest-name class="quest-name"
                        [quest]="quest">
        </app-quest-name>
    </div>
    <div class="quest-level-col">
        {{ quest.min_level }}-{{ quest.max_level }}
    </div>
    <div class="quest-exp-col">
        <span>{{ quest.exp | number }}</span>
        <span *ngIf="quest.exp > 0 && xpRequired"> ({{ quest.exp / xpRequired | percent: '1.0-1'}})</span>
    </div>
    <div class="quest-money-col">
        <app-money [money]="quest.money"></app-money>
    </div>
    <div class="rewards-list-mini">
        <div *ngIf="quest.item_rewards.length > 0">
            <app-item-icon *ngFor="let item_reward of quest.item_rewards"
                           [item]="item_reward.item | async"
                           [width]="16"
                           [height]="16">
            </app-item-icon>
        </div>
        <div *ngIf="quest.selectable_item_rewards.length > 0">
            <app-item-icon *ngFor="let item_reward of quest.selectable_item_rewards"
                           [item]="item_reward.item | async"
                           [width]="16"
                           [height]="16">
            </app-item-icon>
        </div>
    </div>
</div>
<app-quest-description *ngIf="infoVisible"
                       class="quest-description-panel"
                       [quest]="quest.data | async">
</app-quest-description>