<app-page-header [title]="environment.locale.title">
    <div class="introduction">
        <p>
            Fiesta-Wiki is a fan-made database and wiki for the MMORPG Fiesta Online currently developed by Gamigo.
            The wiki data is currently based on the NA version of the game but most of the information are still relevant for the EU version.
        </p>
        <p>
            If you find any bugs or if you have any suggestions to improve the wiki you can join the
            <a class="site-link"
               href="{{environment.common.discordInviteLink}}"
               target="_blank">Discord</a>.
        </p>
    </div>
    <div fxLayout="row wrap">
        <div fxFlex="2 1 auto"
             class="quests-wrapper">
            <h2 class="h2-header">{{PAGES.quests}}</h2>
            <div fxLayout="row"
                 fxLayoutAlign="space-around none">
                <div class="sub-quests-list">
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/0']">0-9</a>
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/1']">10-19</a>
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/2']">20-29</a>
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/3']">30-39</a>
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/4']">40-49</a>
                </div>
                <div class="sub-quests-list">
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/5']">50-59</a>
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/6']">60-69</a>
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/7']">70-79</a>
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/8']">80-89</a>
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/9']">90-99</a>
                </div>
                <div class="sub-quests-list">
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/10']">100-109</a>
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/11']">110-119</a>
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/12']">120-129</a>
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/13']">130-139</a>
                    <a class="list-item"
                       [routerLink]="[ROUTES.quests + '/14']">140</a>
                </div>
            </div>
        </div>
        <div fxFlex="1 1 auto"
             class="database-wrapper">
            <h2 class="h2-header"
                i18n>Database</h2>
            <div class="database-list">
                <a class="list-item"
                   [routerLink]="[ROUTES.titles]">{{PAGES.titles}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.cards]">{{PAGES.cards}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.luckyCapsule]">{{PAGES.luckyCapsule}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.mobs]">{{PAGES.mobs}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.licenses]">{{PAGES.licenses}}</a>
            </div>
        </div>
    </div>
    <div fxLayout="row wrap">

        <app-skills-menu fxFlex="1 1 auto"></app-skills-menu>

        <div fxFlex="1 1 auto"
             class="items-wrapper">
            <h2 class="h2-header">{{PAGES.items}}</h2>
            <div class="items-list">
                <a class="list-item sub-menu-icon"
                   [matMenuTriggerFor]="weaponsMenu">{{PAGES.weapons}}</a>
                <a class="list-item sub-menu-icon"
                   [matMenuTriggerFor]="shieldsMenu">{{PAGES.shields}}</a>
                <a class="list-item sub-menu-icon"
                   [matMenuTriggerFor]="gearsMenu">{{PAGES.gears}}</a>
                <a class="list-item sub-menu-icon"
                   [matMenuTriggerFor]="jewelsMenu">{{PAGES.jewels}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.bracelets]">{{PAGES.bracelets}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.talismans]">{{PAGES.talismans}}</a>
                <ng-container *ngIf="environment.locale.version == 'na'">
                    <a class="list-item"
                       [routerLink]="[ROUTES.premium]">{{PAGES.premiumItems}}</a>
                </ng-container>
            </div>
        </div>
        <div fxFlex="1 1 auto"
             class="alchemy-wrapper">
            <h2 class="h2-header">{{PAGES.alchemy}}</h2>
            <div class="alchemy-list">
                <a class="list-item"
                   [routerLink]="[ROUTES.alchemyStones]">{{PAGES.stones}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.alchemyPotions]">{{PAGES.potions}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.alchemyScrolls]">{{PAGES.scrolls}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.alchemyComp]">{{PAGES.composition}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.alchemyDecomp]">{{PAGES.decomposition}}</a>
            </div>
        </div>
    </div>
</app-page-header>

<div class="page-content">

    <!--<mat-card class="news">
      <mat-card-header>
         <mat-card-title>News editor !</mat-card-title>
         <mat-card-subtitle>10 January 2021</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
         <app-rich-text [text]="model.editorData"></app-rich-text>
         

      </mat-card-content>
      <ckeditor #ckeditor class="news-editor" [editor]="editor" [(ngModel)]="model.editorData"></ckeditor>

      <button (click)="onAddToto()">Add Toto</button>
      Debug : {{model.editorData}}
   </mat-card>-->

    <mat-card class="news">
        <mat-card-header>
            <mat-card-title>Heart of the Rotten Forest</mat-card-title>
            <mat-card-subtitle>8 September 2021</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Upated the wiki with the latest patch <b>1.02.315</b> with the new 138 dungeon !
            </p>
            <p>
                The new patch bring new 135 item sets, a new set of jewels and blue weapons.<br>
                Some balance has been brought to the knights and the skill page has been updated accordingly.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="news">
        <mat-card-header>
            <mat-card-title>2021 Mobs Update</mat-card-title>
            <mat-card-subtitle>10 January 2021</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Happy new year everyone !
            </p>
            <p>
                For this new year a new update has been pushed to the wiki.<br>
                The main addition is the new page that list the open world <a class="site-link"
                   [routerLink]="[ROUTES.mobs]">mobs</a>.
                There you can find mob data like HP, XP, location, and some of the mobs drop table (this page is not guaranteed to be 100% accurate and should only be used as is)
            </p>
            <p>
                Not all the mobs are present on this page and others will be added to fit other categories later (dungeons, KQ, World Boss, ...)
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="news">
        <mat-card-header>
            <mat-card-title>Summer small update</mat-card-title>
            <mat-card-subtitle>4 August 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Hello Isyans !
            </p>
            <p>
                For this update no new content on the wiki but some quality of life improvement
            </p>
            <ul>
                <li>Update of the database to the current game client <b>1.02.281</b></li>
                <li>Fixed a bug in the quest page that showed the wrong mob kills in some quests</li>
                <li>Improved the rarity selector in the item page to let you choose a list of rarities instead of just one</li>
            </ul>
            <p>
                Also a <a class="site-link"
                   href="{{environment.common.discordInviteLink}}"
                   target="_blank">Discord</a>
                has been created if you want to suggest some features to add or to report bugs/errors
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="news">
        <mat-card-header>
            <mat-card-title>Quest page improvements</mat-card-title>
            <mat-card-subtitle>5 June 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                With this small update come great content. Many players requested some improvements on the quest page and some suggestions have been added to give
                more information for each quest.
            </p>
            <p>
                So here is the list of changes :
            </p>
            <ul>
                <li><b>Mob's quest drop</b>. For each quest items you can now see from which mobs you can obtain them and what are their drop rate.</li>
                <li><b>Required XP per level.</b> And with that the % you can get from each quest (just a quality of life improvement for more readability)</li>
                <li><b>Mob portraits</b> have been added for the npc and mobs. (Some portraits are missing because they usually are charater like portraits
                    which are in-game generated)</li>
                <li><b>Locations</b> of NPCs have been added. (some are also missing and should be added later)</li>
            </ul>
            <p>
                In addition to these changes some bugs have been fixed for chrome users, quest page loading time should be a bit faster and
                the database has been updated with the latest client 1.02.277 (nothing worth mentioning except some items descriptions).
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="news">
        <mat-card-header>
            <mat-card-title>Lucky Capsules</mat-card-title>
            <mat-card-subtitle>5 May 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Hello Isyans !
            </p>
            <p>
                In this new update of the wiki the <a class="site-link"
                   [routerLink]="[ROUTES.luckyCapsule]">lucky capsule page</a> has been added. You can find there
                the list of items that can be obtained in each capsules with their theoretical rate.
            </p>
            <p>
                The wiki has also been updated for the mobile users, the top bar menu beginning to be huge a new navigation menu has been added and the
                <a class="site-link"
                   [routerLink]="[ROUTES.premium]">premium items</a> page has a new search bar at the bottom.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="news">
        <mat-card-header>
            <mat-card-title>Premium Items & Skill Effects</mat-card-title>
            <mat-card-subtitle>23 April 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                It's been over a month now since the wiki didn't get an update but this allowed me to work on a big section that have been requested by many... the Premium Items !
                In <a class="site-link"
                   [routerLink]="[ROUTES.premium]">this section</a> you will be able to check out all the premium sc items and see what they look like on male and female.
            </p>
            <p>
                One of the most used sections of the wiki is the skill page so I decided to give it some improvement. The tooltips are sometimes not very explicit
                (for example cleric shield "Invincible" don't say how much damage it blocks) and some are even incorrect (mainly thinking about archers DoT tooltips).
                <br>
                Now you can see the real values of most of the skill! To see them you just have to click on the skill in the skill list to visualize an advanced section with its effects.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="news">
        <mat-card-header>
            <mat-card-title>Items random stats</mat-card-title>
            <mat-card-subtitle>15 March 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                For this small update I added the random stats that can be obtained on (almost) every gear, weapons, shields and jewels. This information is
                available in the tooltip of the items and appear in green (if this bother you can untick the checkbox and you will have the same result as before).
            </p>
            <p>
                Note that only items that were in the game during the level 125 cap and before have this feature (all items 125+ and talismans don't have it). This
                is due to one file that have not been updated for a while and I can't automatically link these items and their stats. I contacted gamigo to try and get
                some updated file. If they can't help then I will probably have to do it manually which can take a while.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="news">
        <mat-card-header>
            <mat-card-title>Patch 1.02.271</mat-card-title>
            <mat-card-subtitle>12 March 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                This week the game receive a new update to fix some bugs and the wiki has been updated accordingly. The patch note is available
                <a class="site-link"
                   href="https://fiesta.gamigo.com/forum/index.php?thread/9894-server-maintenance-on-03-10-2020-at-01-00am-pdt/">here</a>.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="news">
        <mat-card-header>
            <mat-card-title>Cards & Titles</mat-card-title>
            <mat-card-subtitle>29 February 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                The wiki has been updated ! You can now check out all of the game <a class="site-link"
                   [routerLink]="[ROUTES.titles]">Titles</a>,
                their associated stats and how to acquire them. Some titles being unlocked by cards, I also added a
                <a class="site-link"
                   [routerLink]="[ROUTES.cards]">Cards</a> page.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="news">
        <mat-card-header>
            <mat-card-title>Welcome to Fiesta Wiki</mat-card-title>
            <mat-card-subtitle>10 February 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Welcome to Fiesta Wiki ! If you wonder what this website is about, its purpose is to help the community of Fiesta Online
                to have a better and deeper understanding of the game. As of right now the website expose some of the game data that are extracted
                directly from the game client, you may also find some information that are not visible in-game (e.g., the passive skills stats)
            </p>
            <p>
                The website is still in its early stage of development and right now only quests, skills, alchemy production and gears are available
                but there is still a lot more data that needs to be displayed ! A roadmap may arise some time later to let people choose what development
                should be focused. The goal is also to make this site community driven and be as useful as it can be.
            </p>
            <p>
                <b>Disclaimer</b> : You may encounter some incorrect data, for example if you check the mastery gain of T5 Stones production, it currently shows
                0 mastery gain. This is due to the fact that all of the data are from the game <b>Client</b> and this kind of data are only relevant for the server
                (which probably use different files) so keep in mind that everything in here can't be 100% accurate. That said, these kinds of "bug" should be fixed
                and a Discord may be created to let you report these issues.
            </p>
        </mat-card-content>
    </mat-card>
</div>

<mat-menu #weaponsMenu="matMenu">
    <app-weapons-menu></app-weapons-menu>
</mat-menu>

<mat-menu #shieldsMenu="matMenu">
    <app-shields-menu></app-shields-menu>
</mat-menu>

<mat-menu #gearsMenu="matMenu">
    <app-gears-menu></app-gears-menu>
</mat-menu>

<mat-menu #jewelsMenu="matMenu">
    <app-jewels-menu></app-jewels-menu>
</mat-menu>