@import 'style/fiesta-colors';

.white .mat-select-value {
   color: white;
}
.green .mat-select-value {
   color: $green-item;
}
.blue .mat-select-value {
   color: $blue-item;
}
.blue-set .mat-select-value {
   color: $blue-set-item;
}
.yellow .mat-select-value {
   color: $yellow-item;
}
.orange .mat-select-value {
   color: $orange-item;
}