@use '@angular/material' as mat;
@import "styles.scss";
@import "style/var.scss";

:host {
   display: block;
}

.mat-sub-row {
   display: flex;
   flex-direction: column;
}

.ab-state-layout {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 5px;
}

.ab-state {
   margin: 5px;
   padding: 5px 10px;
   background-color: mat.get-color-from-palette($md-fiesta-background, 500);
}

.sub-ab-state-effects {
   display: flex;
}

.collapsed {
   height: 0;
   min-height: 0;
   border-bottom-width: 0;
}