@import "styles.scss";
@import "style/fiesta-colors.scss";

:host {
   display: block;
   
   div {
      margin-bottom: 1px;
   }

   .enhancement-upgrade {
      color: $enhancement-upgrade-color;
   }
}

table {
   border-collapse: collapse;
}

.random-stats {
   color: $random-stats-color;
}