<ng-container *ngIf="item_info">
    <ng-container *ngIf="item_info.hasStats || showMaxStats">
        <table>
            <td>
                <tr *ngIf="item_info.hasSTR || (item_info.hasRandomSTR && showMaxStats)">
                    <ng-container i18n>STR</ng-container>
                    <ng-container *ngIf="item_info.hasSTR">
                        +{{ item_info.STR }}
                    </ng-container>
                </tr>
                <tr *ngIf="item_info.hasDEX || (item_info.hasRandomDEX && showMaxStats)">
                    <ng-container i18n>DEX</ng-container>
                    <ng-container *ngIf="item_info.hasDEX">
                        +{{ item_info.DEX }}
                    </ng-container>
                </tr>
                <tr *ngIf="item_info.hasEND || (item_info.hasRandomEND && showMaxStats)">
                    <ng-container i18n>END</ng-container>
                    <ng-container *ngIf="item_info.hasEND">
                        +{{ item_info.END }}
                    </ng-container>
                </tr>
                <tr *ngIf="item_info.hasINT || (item_info.hasRandomINT && showMaxStats)">
                    <ng-container i18n>INT</ng-container>
                    <ng-container *ngIf="item_info.hasINT">
                        +{{ item_info.INT }}
                    </ng-container>
                </tr>
                <tr *ngIf="item_info.hasSPR || (item_info.hasRandomSPR && showMaxStats)">
                    <ng-container i18n>SPR</ng-container>
                    <ng-container *ngIf="item_info.hasSPR">
                        +{{ item_info.SPR }}
                    </ng-container>
                </tr>
            </td>
            <td *ngIf="showMaxStats">
                <tr *ngIf="item_info.hasSTR || item_info.hasRandomSTR">
                    <span class="random-stats"
                          *ngIf="item_info.hasRandomSTR">
                        (+0~{{ item_info.random_stats.STR }})
                    </span>
                </tr>
                <tr *ngIf="item_info.hasDEX || item_info.hasRandomDEX">
                    <span class="random-stats"
                          *ngIf="item_info.hasRandomDEX">
                        (+0~{{ item_info.random_stats.DEX }})
                    </span>
                </tr>
                <tr *ngIf="item_info.hasEND || item_info.hasRandomEND">
                    <span class="random-stats"
                          *ngIf="item_info.hasRandomEND">
                        (+0~{{ item_info.random_stats.END }})
                    </span>
                </tr>
                <tr *ngIf="item_info.hasINT || item_info.hasRandomINT">
                    <span class="random-stats"
                          *ngIf="item_info.hasRandomINT">
                        (+0~{{ item_info.random_stats.INT }})
                    </span>
                </tr>
                <tr *ngIf="item_info.hasSPR || item_info.hasRandomSPR">
                    <span class="random-stats"
                          *ngIf="item_info.hasRandomSPR">
                        (+0~{{ item_info.random_stats.SPR }})
                    </span>
                </tr>
            </td>
        </table>
        <div *ngIf="item_info.hasPoisonResist">
            <ng-container i18n>Poison Resistance:</ng-container>
            +{{ item_info.stats.poison_resist / 10 }}%
        </div>
        <div *ngIf="item_info.hasDiseaseResist">
            <ng-container i18n>Illness Resistance:</ng-container>
            +{{ item_info.stats.disease_resist / 10 }}%
        </div>
        <div *ngIf="item_info.hasCurseResist">
            <ng-container i18n>Curse Resistance:</ng-container>
            +{{ item_info.stats.curse_resist / 10 }}%
        </div>
        <div *ngIf="item_info.hasMoveSpeedReductionResist">
            <ng-container i18n>Movement Speed Reduction Resistance:</ng-container>
            +{{ item_info.stats.move_speed_reduction_resist / 10 }}%
        </div>
        <div *ngIf="item_info.hasMaxHP || (item_info.hasRandomHp && showMaxStats)">
            <ng-container i18n>MaxHP:</ng-container>
            <span *ngIf="item_info.hasMaxHP">
                +{{ item_info.stats.max_hp }}
            </span>
            <span class="random-stats"
                  *ngIf="item_info.hasRandomHp && showMaxStats">
                (+0~{{ item_info.random_stats.HP }})
            </span>
        </div>
        <div *ngIf="item_info.hasMaxSP">
            <ng-container i18n>MaxSP:</ng-container>
            +{{ item_info.stats.max_sp }}
        </div>
    </ng-container>
    <div *ngIf="item_info.max_phy_atk > 0 || item_info.hasDmgPlus || (item_info.hasRandomDmg && showMaxStats) ||
         (item_info.upgrade_info &&
         item_info.upgrade_info.upgrades[enhancement] > 0 &&
         (item_info.upgrade_info.stat_upgrade == 1 || item_info.upgrade_info.stat_upgrade == 6))">
        <ng-container i18n>Dmg:</ng-container>
        <span *ngIf="item_info.max_phy_atk > 0">
            {{ item_info.min_phy_atk }}~{{ item_info.max_phy_atk }}
        </span>
        <span *ngIf="item_info.hasDmgPlus">
            {{ item_info.stats.dmg_plus }}
        </span>
        <span class="random-stats"
              *ngIf="item_info.hasRandomDmg && showMaxStats">
            (+0~{{ item_info.random_stats.dmg }})
        </span>
        <app-item-upgrade [item_info]="item_info"
                          [stat]="1"
                          [enhancement]="enhancement">
        </app-item-upgrade>
        <app-item-upgrade [item_info]="item_info"
                          [stat]="6"
                          [enhancement]="enhancement">
        </app-item-upgrade>
    </div>
    <div *ngIf="
         item_info.defense > 0 || (item_info.hasRandomDef && showMaxStats) ||
         (item_info.upgrade_info &&
         item_info.upgrade_info.upgrades[enhancement] > 0 &&
         (item_info.upgrade_info.stat_upgrade == 0 || item_info.upgrade_info.stat_upgrade == 7))">
        <ng-container i18n>Def:</ng-container>
        <span *ngIf="item_info.defense > 0">
            {{ item_info.defense }}
        </span>
        <span class="random-stats"
              *ngIf="item_info.hasRandomDef && showMaxStats">
            (+0~{{ item_info.random_stats.def }})
        </span>
        <app-item-upgrade [item_info]="item_info"
                          [stat]="0"
                          [enhancement]="enhancement">
        </app-item-upgrade>
        <app-item-upgrade [item_info]="item_info"
                          [stat]="7"
                          [enhancement]="enhancement">
        </app-item-upgrade>
    </div>
    <div *ngIf="
         item_info.max_mag_atk > 0 || item_info.hasMDmgPlus || (item_info.hasRandomMdmg && showMaxStats) ||
         (item_info.upgrade_info &&
         item_info.upgrade_info.upgrades[enhancement] > 0 &&
         (item_info.upgrade_info.stat_upgrade == 3 || item_info.upgrade_info.stat_upgrade == 6))">
        <ng-container i18n>M.Dmg:</ng-container>
        <span *ngIf="item_info.max_mag_atk > 0">
            {{ item_info.min_mag_atk }}~{{ item_info.max_mag_atk }}
        </span>
        <span *ngIf="item_info.hasMDmgPlus">
            {{ item_info.stats.mdmg_plus }}
        </span>
        <span class="random-stats"
              *ngIf="item_info.hasRandomMdmg && showMaxStats">
            (+0~{{ item_info.random_stats.mdmg }})
        </span>
        <app-item-upgrade [item_info]="item_info"
                          [stat]="3"
                          [enhancement]="enhancement">
        </app-item-upgrade>
        <app-item-upgrade [item_info]="item_info"
                          [stat]="6"
                          [enhancement]="enhancement">
        </app-item-upgrade>
    </div>
    <div *ngIf="
         item_info.magical_defense > 0 || (item_info.hasRandomMdef && showMaxStats) ||
         (item_info.upgrade_info &&
         item_info.upgrade_info.upgrades[enhancement] > 0 &&
         (item_info.upgrade_info.stat_upgrade == 4 || item_info.upgrade_info.stat_upgrade == 7))">
        <ng-container i18n>M.Def:</ng-container>
        <span *ngIf="item_info.magical_defense > 0">
            {{ item_info.magical_defense }}
        </span>
        <span class="random-stats"
              *ngIf="item_info.hasRandomMdef && showMaxStats">
            (+0~{{ item_info.random_stats.mdef }})
        </span>
        <app-item-upgrade [item_info]="item_info"
                          [stat]="4"
                          [enhancement]="enhancement">
        </app-item-upgrade>
        <app-item-upgrade [item_info]="item_info"
                          [stat]="7"
                          [enhancement]="enhancement">
        </app-item-upgrade>
    </div>
    <div *ngIf="item_info.aim > 0 || (item_info.hasRandomAim && showMaxStats)">
        <ng-container i18n>Aim:</ng-container>
        <span *ngIf="item_info.aim > 0">
            {{ item_info.aim }}
        </span>
        <span class="random-stats"
              *ngIf="item_info.hasRandomAim && showMaxStats">
            (+0~{{ item_info.random_stats.aim }})
        </span>
    </div>
    <div *ngIf="item_info.evasion > 0 || (item_info.hasRandomEva && showMaxStats)">
        <ng-container i18n>Evasion:</ng-container>
        <span *ngIf="item_info.evasion > 0">
            {{ item_info.evasion }}
        </span>
        <span class="random-stats"
              *ngIf="item_info.hasRandomEva && showMaxStats">
            (+0~{{ item_info.random_stats.eva }})
        </span>
    </div>
    <div class="random-stats"
         *ngIf="showMaxStats && item_info.stat_values_unsure">
        These random values might be wrong.<br>
        If you have different results please report them on the <a class="site-link"
           href="{{environment.common.discordInviteLink}}"
           target="_blank">Wiki's Discord</a> !
    </div>
    <div *ngIf="item_info.phy_atk_rate > 1000">
        <ng-container i18n>Physical Attack Power:</ng-container>
        +{{ ((item_info.phy_atk_rate - 1000) / 10) | number : '1.1-1' }}%
    </div>
    <div *ngIf="item_info.mag_atk_rate > 1000">
        <ng-container i18n>Magic Attack Power:</ng-container>
        +{{ ((item_info.mag_atk_rate - 1000) / 10) | number : '1.1-1' }}%
    </div>
    <div *ngIf="item_info.defense_rate > 1000">
        <ng-container i18n>Physical Defense:</ng-container>
        +{{ ((item_info.defense_rate - 1000) / 10) | number : '1.1-1' }}%
    </div>
    <div *ngIf="item_info.magical_defense_rate > 1000">
        <ng-container i18n>Magic Defense:</ng-container>
        +{{ ((item_info.magical_defense_rate - 1000) / 10) | number : '1.1-1' }}%
    </div>
    <ng-container *ngIf="item_info.stats">
        <div *ngIf="item_info.stats.aim_rate > 0">
            <ng-container i18n>Aim:</ng-container>
            +{{ ((item_info.stats.aim_rate) / 10) | number : '1.1-1' }}%
        </div>
        <div *ngIf="item_info.stats.eva_rate > 0">
            <ng-container i18n>Evasion:</ng-container>
            +{{ ((item_info.stats.eva_rate) / 10) | number : '1.1-1' }}%
        </div>
    </ng-container>
    <div *ngIf="item_info.critical_rate > 0 ||  (item_info.hasRandomCrit && showMaxStats) ||
         (item_info.upgrade_info &&
         item_info.upgrade_info.upgrades[enhancement] > 0 &&
         item_info.upgrade_info.stat_upgrade == 8)">
        <ng-container i18n>Critical Rate:</ng-container>
        <span *ngIf="item_info.critical_rate > 0">
            +{{ item_info.critical_rate / 10 | number : '1.1-1' }}%
        </span>
        <span class="random-stats"
              *ngIf="item_info.hasRandomCrit && showMaxStats">
            (+0~{{ item_info.random_stats.crit / 10 }}%)
        </span>
        <app-item-upgrade [item_info]="item_info"
                          [stat]="8"
                          [enhancement]="enhancement">
        </app-item-upgrade>
    </div>
    <div *ngIf="item_info.hasRandomCrit && showMaxStats">
        <ng-container i18n>Block-Critical Rate:</ng-container>
        <span class="random-stats"
              *ngIf="item_info.hasRandomCrit && showMaxStats">
            (+0~{{ item_info.random_stats.crit / 10 }}%)
        </span>
    </div>
    <div *ngIf="item_info.item_category == 5">
        <ng-container i18n>Attack Speed:</ng-container>
        {{ item_info.attack_speed / 1000 | number : '1.1-1' }}sec
    </div>
    <div *ngIf="item_info.block_rate > 0">
        <ng-container i18n>Block Rate:</ng-container>
        {{ item_info.block_rate / 10 }}%
    </div>
</ng-container>