@import "styles.scss";

:host {
   display: flex;
}

.description {
   margin-left: 3px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.mob-location {
   font-size: 0.8em;
}