<ng-container *ngIf="mob">
    <app-mob-icon [mobPortrait]="mob.view.mob_portrait"
                  [iconSize]="iconSize">
    </app-mob-icon>
    <div *ngIf="mob && showName"
         class="description">
        <a [routerLink]="['/', ROUTES.mobs, mob.species]">
            {{ mob.name }}
            <!--(id : {{mobInfo.id}}, view: {{mobInfo.view.npc_view_id}})-->
            <ng-container *ngIf="showLevel">(Lvl. {{mob.level}})</ng-container>
        </a>
        <div *ngIf="showLocation"
             class="mob-location">
            <ng-container *ngIf="mob.coordinates.length > 0; else unknownLocation">
                {{(mob.coordinates[0].map | async)?.name}}
            </ng-container>

            <ng-template #unknownLocation>
                Unknown
            </ng-template>
        </div>
    </div>
</ng-container>