<div *ngIf="card" class="fiesta-tooltip card-tooltip">
   <h1 class="card-description">
      {{card.view.name}}
   </h1>
   <h2>
      Card Rank : {{cardRank}}
   </h2>
   <p class="card-description">
      {{card.view.description}}
   </p>
   <p *ngIf="card.title">
      Title : <i>{{ card.title.title }}</i>
   </p>
</div>