<ng-template #item let-item>
    <app-item-icon [item]="item | async"></app-item-icon>
</ng-template>

<ng-template #text let-content>
    <span [innerHTML]="content"></span>
</ng-template>

<ng-template #p let-content>
    <p>
      <app-rich-text [text]="content"></app-rich-text>
    </p>
</ng-template>