<div fxLayout="row wrap">
    <div class="wrapper">
        <h2 class="h2-header">{{CLASSES.fighter}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.weaponsOneHandSword]">{{WEAPONS.oneHandSword}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.weaponsTwoHandSword]">{{WEAPONS.twoHandSword}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.weaponsAxe]">{{WEAPONS.axe}}</a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <h2 class="h2-header">{{CLASSES.cleric}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.weaponsMace]">{{WEAPONS.mace}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.weaponsHammer]">{{WEAPONS.hammer}}</a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <h2 class="h2-header">{{CLASSES.archer}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.weaponsBow]">{{WEAPONS.bow}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.weaponsCrossbow]">{{WEAPONS.crossbow}}</a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <h2 class="h2-header">{{CLASSES.mage}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.weaponsStaff]">{{WEAPONS.staff}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.weaponsWand]">{{WEAPONS.wand}}</a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <h2 class="h2-header">{{CLASSES.trickster}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.weaponsClaws]">{{WEAPONS.claws}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.weaponsDualSword]">{{WEAPONS.dualSword}}</a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <h2 class="h2-header">{{CLASSES.crusader}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.weaponsBlade]">{{WEAPONS.blade}}</a>
            </div>
        </div>
    </div>
</div>