:host {
    display: block;
    max-width: 270px;
}

a {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.list {
    display: flex;

    &>* {
        flex: 1;
        min-width: 100px;
    }
}

.list-item {
    font-size: 13px;
    white-space: nowrap;
    padding: 3px 11px;
    margin: 4px 10px 4px 4px;
}