@use '@angular/material'as mat;
@import "styles.scss";
@import "style/colors.scss";

.panel-wrapper {
    display: flex;
}

.left-panel {
    width: 500px;
    min-width: 500px;
    height: 800px;
    overflow: auto;
    background-color: $table-background;
}

.production-row {
    cursor: pointer;
}

.mat-column-neededMastery,
.mat-column-masteryGain {
    width: 75px;
}

.right-panel {
    width: 100%;
    padding: 10px;
}

.production-title {
    display: flex;
    align-items: center;

    .production-title-name {
        padding-left: 5px;
    }
}

.production-description {
    background-color: mat.get-color-from-palette($md-fiesta-background, 400);
    padding: 20px;

    table {
        width: 100%;
    }
}

.ingredients-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.ingredients-list {
    display: flex;
}

.ingredient {
    width: 75px;
    justify-content: center;
}

.icon-with-text {
    display: flex;
    align-items: center;

    &>span {
        padding-left: 5px;
    }
}