<app-page-header [title]="PAGE_TITLE">
</app-page-header>

<app-page-loader class="page-content"
                 [status]="loadingErr">
    <div class="panel-wrapper">
        <div class="left-panel">
            <mat-table [dataSource]="dataSource"
                       matSort
                       [matSortDisableClear]="true"
                       (matSortChange)="onSort($event)">
                <ng-container matColumnDef="icon">
                    <mat-header-cell class="table-icon-cell"
                                     *matHeaderCellDef></mat-header-cell>
                    <mat-cell class="table-icon-cell"
                              *matCellDef="let p">
                        <app-item-icon [item]="p.product"></app-item-icon>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef
                                     mat-sort-header>Name</mat-header-cell>
                    <mat-cell class="table-name-cell"
                              *matCellDef="let p">
                        {{ p.product.name }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="neededMastery">
                    <mat-header-cell *matHeaderCellDef
                                     mat-sort-header>Required</mat-header-cell>
                    <mat-cell *matCellDef="let p">
                        {{ p.needed_mastery }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="masteryGain">
                    <mat-header-cell *matHeaderCellDef
                                     mat-sort-header>Gain</mat-header-cell>
                    <mat-cell *matCellDef="let p">
                        {{ p.mastery_gain }}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row class="production-row"
                         *matRowDef="let row; columns: displayedColumns;"
                         (click)="onRowClick(row)"></mat-row>

            </mat-table>
        </div>

        <div class="right-panel"
             *ngIf="selectedProduction">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title class="production-title">
                        <app-item-icon [item]="selectedProduction.product"></app-item-icon>
                        <span class="production-title-name">{{selectedProduction.product.name}}</span>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="production-description">
                    <h3>Description</h3>
                    <table>
                        <tr>
                            <td rowspan="2">
                                <div class="icon-with-text">
                                    <app-item-icon [item]="selectedProduction.recipe"></app-item-icon>
                                    <span>Recipe</span>
                                </div>
                            </td>
                            <td>
                                Required Mastery: {{ selectedProduction.needed_mastery }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mastery Gain: {{ selectedProduction.mastery_gain }}
                            </td>
                        </tr>
                    </table>
                    <h3>Ingredients</h3>
                    <div class="ingredients-panel">
                        <div class="ingredients-list">
                            <div class="icon-with-text ingredient"
                                 *ngIf="selectedProduction.ingredient1">
                                <app-item-icon [item]="selectedProduction.ingredient1"></app-item-icon>
                                <span>x{{selectedProduction.quantity1}}</span>
                            </div>
                            <div class="icon-with-text ingredient"
                                 *ngIf="selectedProduction.ingredient2">
                                <app-item-icon [item]="selectedProduction.ingredient2"></app-item-icon>
                                <span>x{{selectedProduction.quantity2}}</span>
                            </div>
                            <div class="icon-with-text ingredient"
                                 *ngIf="selectedProduction.ingredient3">
                                <app-item-icon [item]="selectedProduction.ingredient3"></app-item-icon>
                                <span>x{{selectedProduction.quantity3}}</span>
                            </div>
                            <div class="icon-with-text ingredient"
                                 *ngIf="selectedProduction.ingredient4">
                                <app-item-icon [item]="selectedProduction.ingredient4"></app-item-icon>
                                <span>x{{selectedProduction.quantity4}}</span>
                            </div>
                        </div>
                        <mat-icon svgIcon="arrow-right"></mat-icon>
                        <div>
                            <div class="icon-with-text ingredient">
                                <app-item-icon [item]="selectedProduction.product"></app-item-icon>
                                <span>x{{selectedProduction.quantity}}</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</app-page-loader>

<ng-template #loading>
    Loading productions...
</ng-template>