$green-item: #00FF00; // Green
$blue-item: #00FFFF; // Blue
$blue-set-item: #6160cb; // Blue set
$yellow-item: #FFFF00; // Unique
$purple-item: #FF00FF; // Purple (premium items)
$orange-item: #FFD800; // Orange


$enhancement-upgrade-color: yellow;
$random-stats-color: rgb(0, 165, 0);
$item-additional-info: #bf5712;