@use '@angular/material' as mat;

@import "@angular/material/theming";
@import 'style/colors';

$top-menu-height: 48px;
$top-menu-color: mat.get-color-from-palette($md-fiesta-background, 500);

$table-background: rgba(0, 0, 0, 0.85);

$main-body-width: 1000px;