<ng-container [ngSwitch]="status">
    <ng-container *ngSwitchCase="'ok'">
        <ng-content></ng-content>
    </ng-container>
    <ng-container *ngSwitchCase="'loading'">
        <div class="loading-container">
            <mat-progress-spinner class="spinner"
                                  [mode]="'indeterminate'">
            </mat-progress-spinner>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'error'">
        <div class="loading-container">
            Server error :(
        </div>
    </ng-container>
</ng-container>