<h2 mat-dialog-title>Create Store Item View</h2>
<mat-dialog-content class="dialog-content">
    <form [formGroup]="storeItemViewForm">
        <mat-form-field>
            <mat-label>Item Name</mat-label>
            <input matInput
                   [formControl]="nameControl">
            <mat-error *ngIf="nameControl.hasError('itemExist') && !nameControl.hasError('required')">
                This item already exist
            </mat-error>
            <mat-error *ngIf="nameControl.hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Item Icon</mat-label>
            <input matInput
                   [formControl]="iconControl">
        </mat-form-field>

        <div class="image-list">
            <div *ngFor="let image of this.item.image_previews; let i = index">
                <mat-form-field>
                    <mat-label>Item Image {{i}}</mat-label>
                    <input matInput
                           [(ngModel)]="image.filename"
                           [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <button mat-mini-fab
                        class="add-input-button"
                        (click)="onRemoveImage(image)">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>

            <button mat-mini-fab
                    class="add-input-button"
                    (click)="onAddImage($event)">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput
                      [formControl]="descriptionControl"
                      rows="4"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button
            [mat-dialog-close]="item">{{validationButtonName}}</button>
    <button mat-button
            [mat-dialog-close]="null">Cancel</button>
</mat-dialog-actions>