<div *ngIf="skill"
     class="fiesta-tooltip skill-tooltip">
    <div>
        {{skill.name}}
    </div>
    <div>
        <div>
            <ng-container i18n>Class :</ng-container> {{ skill.view.required_class | class}}
            <ng-container i18n>or higher</ng-container>
        </div>
        <div>
            Required Level : {{ skill.view.required_level }}
        </div>
    </div>
    <div class="multiline-text">
        {{ skill.view.description }}
    </div>
</div>