<div class="content-block">
    <app-item [item]="item"></app-item>

    <app-mob-portrait *ngFor="let source of sources"
                      [mob]="source"
                      [showName]="true">
    </app-mob-portrait>
</div>