<div [formGroup]="formGroup">
    <mat-form-field class="level-form-field">
        <input matInput
               class="fiesta-input level-input"
               formControlName="min"
               placeholder="Min">
        <mat-error *ngIf="formGroup.controls['min'].errors">
            Invalid value !
        </mat-error>
    </mat-form-field>
    -
    <mat-form-field class="level-form-field">
        <input matInput
               class="fiesta-input level-input"
               formControlName="max"
               placeholder="Max">
        <mat-error *ngIf="formGroup.controls['max'].errors">
            Invalid value !
        </mat-error>
    </mat-form-field>
</div>