<!-- ViewBox cut the unecessary part of the image -->
<svg [attr.width]="width"
     viewBox="0 0 320 480">
    <defs>
        <!-- clip path to avoid image going ove background -->
        <clipPath id="picture-clipping">
            <rect x="20"
                  y="20"
                  width="280"
                  height="440">
            </rect>
        </clipPath>
    </defs>
    <!-- Card background -->
    <image [attr.href]="'assets/cards/' + cardBack"
           [attr.x]="0"
           [attr.y]="0"
           [attr.width]="320"
           [attr.height]="480" />
    <!-- Card image -->
    <image clip-path="url(#picture-clipping)"
           [attr.href]="cardPath + card.view.filename + '.webp'"
           [attr.width]="320"
           [attr.height]="480" />
    <!-- Card decoration (has offset because its smaller) -->
    <image [attr.href]="'assets/cards/' + cardDecoration"
           [attr.width]="320"
           [attr.height]="480" />
    <text *ngIf="hasTitle"
          x="160"
          y="42"
          [attr.text-anchor]="'middle'"
          [attr.fill]="'#FFF'"
          [attr.font-size]="14"
          [attr.font-family]="'Helvetica, sans-serif'"
          [attr.class]="'title'">{{card.view.name}}</text>
</svg>

<div class="card-title"
     *ngIf="minImage && card.title">
    <svg class="card-title-svg"
         [attr.width]="24"
         [attr.height]="24">
        <image [attr.href]="'assets/title.png'"
               [attr.width]="24"
               [attr.height]="24" />
    </svg>
</div>