<app-page-header [title]="PAGE_TITLE">
    <div class="header">
        <form [formGroup]="filterFormGroup"
              (ngSubmit)="onSubmit(filterFormGroup.value)"
              class="filter-row">
            <div class="filter-col">
                <app-rarity-combobox formControlName="rarity"></app-rarity-combobox>
            </div>
            <div class="filter-col">
                <mat-form-field>
                    <input matInput
                           placeholder="Search by name"
                           formControlName="search">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <app-level-range-filter></app-level-range-filter>
                <div fxLayout="row"
                     fxLayoutGap="10px">
                    <button mat-flat-button
                            color="accent"
                            type="submit">
                        Filter
                    </button>
                    <button mat-flat-button
                            color="accent"
                            type="submit"
                            (click)="filterFormGroup.reset()">
                        Reset
                    </button>
                </div>
            </div>
        </form>
        <div class="filter-col">
            <app-enhancement-combobox [defaultValue]="maxEnhancement"
                                      [max]="maxEnhancement"
                                      (enhancementSelected)="onEnhancementChange($event)">
            </app-enhancement-combobox>
            <mat-checkbox [checked]="showRandomStats"
                          (change)="onRandomStatsChange($event)">
                Random stats
                <mat-icon class="help-icon"
                          inline="true"
                          matTooltip="Check this option to show random stats that can be obtained on an item">
                    help
                </mat-icon>
            </mat-checkbox>
        </div>
    </div>
</app-page-header>

<app-items-table class="page-content"
                 [pageObs]="page$"
                 [enhancement]="enhancement"
                 [columns]="displayedColumns"
                 (pageChange)="onPageChange($event)">
</app-items-table>