<div fxLayout="row wrap">
    <div class="wrapper">
        <h2 class="h2-header">{{CLASSES.fighter}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsFighter]">{{CLASSES.fighter}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsCleverFighter]">{{CLASSES.cleverFighter}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsWarrior]">{{CLASSES.warrior}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsGladiator]">{{CLASSES.gladiator}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsKnight]">{{CLASSES.knight}}</a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <h2 class="h2-header">{{CLASSES.cleric}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsCleric]">{{CLASSES.cleric}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsHighCleric]">{{CLASSES.highCleric}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsPaladin]">{{CLASSES.paladin}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsGuardian]">{{CLASSES.guardian}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsHolyKnight]">{{CLASSES.holyKnight}}</a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <h2 class="h2-header">{{CLASSES.archer}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsArcher]">{{CLASSES.archer}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsHawkArcher]">{{CLASSES.hawkArcher}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsScout]">{{CLASSES.scout}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsRanger]">{{CLASSES.ranger}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsSharpShooter]">{{CLASSES.sharpShooter}}</a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <h2 class="h2-header">{{CLASSES.mage}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsMage]">{{CLASSES.mage}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsWizMage]">{{CLASSES.wizMage}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsEnchanter]">{{CLASSES.enchanter}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsWizard]">{{CLASSES.wizard}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsWarlock]">{{CLASSES.warlock}}</a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <h2 class="h2-header">{{CLASSES.trickster}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsTrickster]">{{CLASSES.trickster}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsGambit]">{{CLASSES.gambit}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsRenegade]">{{CLASSES.renegade}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsReaper]">{{CLASSES.reaper}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsSpectre]">{{CLASSES.spectre}}</a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <h2 class="h2-header">{{CLASSES.crusader}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsCrusader]">{{CLASSES.crusader}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.gearsTemplar]">{{CLASSES.templar}}</a>
            </div>
        </div>
    </div>
</div>