<app-navigation-bar (toggleSidenav)="sidenav.toggle($event)"></app-navigation-bar>

<mat-drawer-container class="sidenav-container">
    <mat-drawer #sidenav
                mode="over"
                class="sidenav-panel">

        <mat-tree [dataSource]="dataSource"
                  [treeControl]="treeControl">

            <mat-tree-node *matTreeNodeDef="let node"
                           matTreeNodeToggle>
                <li class="mat-tree-node">
                    <a class="node-link"
                       [routerLink]="[node.link]"
                       (click)="sidenav.toggle(false)">
                        <h3>{{node.name}}</h3>
                    </a>
                </li>
            </mat-tree-node>

            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <li>
                    <div class="mat-tree-node"
                         matTreeNodeToggle
                         [attr.aria-label]="'toggle ' + node.name">
                        <div class="node-link">
                            <h3>{{node.name}}</h3>
                        </div>
                        <mat-icon class="mat-icon-rtl-mirror expand-icon">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'remove'}}
                        </mat-icon>
                    </div>
                    <ul [class.invisible-node]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </ul>
                </li>
            </mat-nested-tree-node>
        </mat-tree>

    </mat-drawer>

    <div class="main-body"
         appKeypressCatcher>

        <router-outlet></router-outlet>

    </div>
    
    <app-footer></app-footer>

</mat-drawer-container>