@use '@angular/material' as mat;
@import "style/colors.scss";
@import "style/var.scss";

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background: #777 !important;
}

.detail-row {
    overflow: hidden;
    background-color: mat.get-color-from-palette($md-fiesta-background, 400);
}