<mat-form-field>
   <mat-label>Class</mat-label>
   <mat-select 
      (selectionChange)="onClassChanged($event)" 
      [value]="defaultValue">
      
      <mat-optgroup label="Fighter">
         <mat-option [value]="2">Fighter</mat-option>
         <mat-option [value]="3">CleverFighter</mat-option>
         <mat-option [value]="4">Warrior</mat-option>
         <mat-option [value]="7">Knight</mat-option>
         <mat-option [value]="6">Gladiator</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Cleric">
         <mat-option [value]="8">Cleric</mat-option>
         <mat-option [value]="9">HighCleric</mat-option>
         <mat-option [value]="10">Paladin</mat-option>
         <mat-option [value]="11">Guardian</mat-option>
         <mat-option [value]="12">HolyKnight</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Archer">
         <mat-option [value]="14">Archer</mat-option>
         <mat-option [value]="15">HawkArcher</mat-option>
         <mat-option [value]="16">Scout</mat-option>
         <mat-option [value]="17">Ranger</mat-option>
         <mat-option [value]="18">SharpShooter</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Mage">
         <mat-option [value]="20">Mage</mat-option>
         <mat-option [value]="21">WizMage</mat-option>
         <mat-option [value]="22">Enchanter</mat-option>
         <mat-option [value]="23">Wizard</mat-option>
         <mat-option [value]="24">Warlock</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Trickster">
         <mat-option [value]="27">Trickster</mat-option>
         <mat-option [value]="28">Gambit</mat-option>
         <mat-option [value]="29">Renegade</mat-option>
         <mat-option [value]="30">Reaper</mat-option>
         <mat-option [value]="31">Spectre</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Crusader">
         <mat-option [value]="33">Crusader</mat-option>
         <mat-option [value]="34">Templar</mat-option>
      </mat-optgroup>
   </mat-select>
</mat-form-field>