<app-mob-portrait [mob]="mob"
                  [showName]="true"
                  [showLevel]="true">
</app-mob-portrait>

<form [formGroup]="mobUpdateForm"
      (ngSubmit)="onSubmit(mobUpdateForm.value)">
    <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <mat-select formControlName="location">
            <mat-option [value]="0">{{ 0 | mobLocation }}</mat-option>
            <mat-option [value]="1">{{ 1 | mobLocation }}</mat-option>
        </mat-select>
    </mat-form-field>

    <ng-container *ngIf="mob.coordinates && mob.coordinates.length > 0">
        <ng-container *ngIf="(mob.coordinates[0].map | async) as map">
            <app-map-picker [map]="map.id"></app-map-picker>
        </ng-container>
    </ng-container>

    <mat-checkbox formControlName="active">Active</mat-checkbox>

    <mat-dialog-actions>
        <button mat-flat-button
                color="accent"
                type="submit">
            Update
        </button>
        <button mat-button
                [mat-dialog-close]="null">Cancel</button>
    </mat-dialog-actions>
</form>