<span *ngIf="gem > 0" class="gem">
   {{ gem }}
</span>
<span *ngIf="gold > 0" class="gold">
   {{ gold }}
</span>
<span *ngIf="silver > 0" class="silver">
   {{ silver }}
</span>
<span *ngIf="copper > 0" class="copper">
   {{ copper }}
</span>