<div class="icon fiesta-icon">
    <ng-container *ngIf="item">
        <svg *ngIf="(item.view | async) as view"
             [attr.width]="width"
             [attr.height]="height">
            <rect [attr.width]="width"
                  [attr.height]="height"
                  [attr.fill]="view.background_color"
                  [attr.stroke-opacity]="0" />
            <image [attr.href]="STATIC_ASSETS + view.icon_file  + '_' + view.icon_index + '.webp'"
                   [attr.x]="1"
                   [attr.y]="1"
                   [attr.width]="width - 2"
                   [attr.height]="height - 2" />
            <image *ngIf="view.sub_icon_file"
                   [attr.href]="STATIC_ASSETS + view.sub_icon_file  + '_' + view.sub_icon_index + '.webp'"
                   [attr.x]="1"
                   [attr.y]="1"
                   [attr.width]="width - 2"
                   [attr.height]="height - 2" />
            <image *ngIf="view.period_icon_file"
                   [attr.href]="STATIC_ASSETS + view.period_icon_file  + '_' + view.period_icon_index + '.webp'"
                   [attr.x]="1"
                   [attr.y]="1"
                   [attr.width]="width - 2"
                   [attr.height]="height - 2" />
            <rect [attr.width]="width"
                  [attr.height]="height"
                  [attr.stroke]="view.border_color"
                  [attr.fill-opacity]="0" />
        </svg>
    </ng-container>
</div>