<ng-container *ngIf="quest">
    <div class="section">
        <div>
            <h3 i18n>Starting NPC :</h3>
            <app-mob-portrait [mob]="quest.starting_npc | async"
                              [showName]="true"
                              [showLocation]="true">
            </app-mob-portrait>
        </div>
        <div>
            <h3 i18n>Ending NPC :</h3>
            <ng-container *ngIf="(quest.end_npc | async) as end_npc">
                <app-mob-portrait [mob]="end_npc"
                                  [showName]="true"
                                  [showLocation]="true">
                </app-mob-portrait>
            </ng-container>
        </div>
    </div>
    <div *ngIf="(quest.starting_item | async) as starting_item"
         class="section">
        <div>
            <h3 i18n>Starting Quest Item :</h3>
            <div class="item-drop">
                <app-item-icon [item]="starting_item"></app-item-icon>
                <div class="item-drop-count">
                    {{starting_item.name}} x {{quest.starting_item_quantity}}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="quest.previous_quest || quest.next_quests.length"
         class="section">
        <div>
            <ng-container *ngIf="quest.previous_quest as previous_quest">
                <h3 i18n>Previous Quest :</h3>
                <a class="quest-link"
                   [routerLink]="['/quests/', (previous_quest.min_level / 10) | floor]"
                   queryParamsHandling="preserve"
                   fragment="{{previous_quest.id}}">
                    <app-quest-name [quest]="previous_quest"></app-quest-name>
                    <mat-icon class="quest-link-icon">launch</mat-icon>
                </a>
            </ng-container>
        </div>
        <div>
            <ng-container *ngIf="quest.next_quests.length">
                <h3 i18n>Next Quests :</h3>
                <a *ngFor="let next_quest of quest.next_quests"
                   class="quest-link"
                   [routerLink]="['/quests/', (next_quest.min_level / 10) | floor]"
                   queryParamsHandling="preserve"
                   fragment="{{next_quest.id}}">
                    <app-quest-name [quest]="next_quest"></app-quest-name>
                    <mat-icon class="quest-link-icon">launch</mat-icon>
                </a>
            </ng-container>
        </div>
    </div>
    <div *ngIf="quest.mob_kill.length || quest.item_gathering.length"
         class="section">
        <div>
            <ng-container *ngIf="quest.mob_kill.length">
                <h3 i18n>Mob kills :</h3>
                <div *ngFor="let mob_kill of quest.mob_kill">
                    <div class="mob-kill">
                        <app-mob-portrait [mob]="mob_kill.mob | async"
                                          [showName]="true">
                        </app-mob-portrait>
                        <span>x {{mob_kill.kill_count}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
        <div>
            <ng-container *ngIf="quest.item_gathering.length">
                <h3 i18n>Item gathering :</h3>
                <div *ngFor="let item_gathering of quest.item_gathering">

                    <ng-template #itemGatheringTemplate
                                 let-item
                                 [ngTemplateOutlet]="itemGatheringTemplate"
                                 [ngTemplateOutletContext]="{ $implicit : item_gathering.item | async }">

                        <div class="item-drop">
                            <app-item-icon [item]="item"></app-item-icon>
                            <div class="item-drop-count">
                                {{item?.name}} x {{item_gathering.count}}
                            </div>
                        </div>

                        <div class="item-drop-mobs-wrapper">
                            <div class="item-drop-mobs"
                                 *ngFor="let dropInfo of item_gathering.drop_info">
                                <div class="loot-drop-rate"
                                     matTooltip="Drop rate per monster and amount that can be obtained"
                                     matTooltipPosition="above">
                                    <span>[{{ dropInfo.percent / 10000}}%]
                                        [{{dropInfo.count_min}}<ng-container *ngIf="dropInfo.count_min != dropInfo.count_max">-{{dropInfo.count_max}}</ng-container>]
                                    </span>
                                    <mat-icon class="loot-icon"
                                              color="accent"
                                              svgIcon="loot">
                                    </mat-icon>
                                </div>
                                <app-mob-portrait [mob]="dropInfo.mob | async"
                                                  [showName]="true">
                                </app-mob-portrait>
                            </div>
                        </div>

                    </ng-template>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="section">
        <div class="multiline-text"
             colspan="2">
            <h3 i18n>Description :</h3>
            {{ quest.description }}
        </div>
    </div>
    <div class="section"
         *ngIf="hasReward() || quest.selectable_item_rewards.length > 0">
        <div *ngIf="hasReward()">
            <h3 i18n>Rewards :</h3>
            <div class="rewards-list">
                <div *ngIf="quest.exp > 0">
                    <app-reward-icon [rewardType]="0"></app-reward-icon><span> : {{ quest.exp | number }}</span>
                </div>
                <div *ngIf="quest.money > 0">
                    <app-reward-icon [rewardType]="1"></app-reward-icon><span> : {{ quest.money | number }}</span>
                </div>
                <div *ngIf="quest.fame > 0">
                    <app-reward-icon [rewardType]="4"></app-reward-icon><span> : {{ quest.fame | number }}
                    </span>
                </div>
                <div *ngFor="let item_reward of quest.item_rewards">
                    <app-item-icon class="item-reward"
                                   [item]="item_reward.item | async">
                    </app-item-icon>
                    x {{item_reward.quantity}}
                </div>
            </div>
        </div>
        <div *ngIf="quest.selectable_item_rewards.length > 0">
            <h3 i18n>Selective Rewards :</h3>
            <div class="rewards-list">
                <div *ngFor="let item_reward of quest.selectable_item_rewards">
                    <app-item-icon class="item-reward"
                                   [item]="item_reward.item | async">
                    </app-item-icon>
                </div>
            </div>
        </div>
    </div>
</ng-container>