@use '@angular/material'as mat;
@import "style/colors";
@import "styles.scss";

:host {
    display: block;
    font-size: 0.9em;

    &>.section:not(:last-child) {
        // border-bottom: 1px solid $gray9;
        border-bottom: 1px solid mat.get-color-from-palette($md-fiesta-background, 500);
    }
}

.section {
    display: flex;
    flex-wrap: wrap;

    &>* {
        flex: 1;
        padding: 5px;
        min-width: 200px;
    }
}

h3 {
    color: $yellow3;
    margin: 0;
    font-size: 1em;
}

.quest-link {
    display: flex;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin-right: 11px;

    .quest-link-icon {
        font-size: 0.8em;
    }

    &:hover {
        color: $yellow3;
    }
}

.mob-kill {
    display: flex;
    align-items: center;
    margin: 0 3px;

    span {
        margin-left: 3px;
    }
}

.item-drop {
    display: flex;
}

.item-drop-count {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-left: 3px;
}

.item-drop-mobs-wrapper {
    margin: 5px;

    .item-drop-mobs {
        display: flex;
    }
}

.loot-drop-rate {
    display: flex;
    align-items: center;
}

.loot-icon.mat-icon {
    width: 15px;
    height: 15px;
    font-size: 15px;
    margin: 0 5px;
}

.rewards-list {
    display: flex;
    flex-wrap: wrap;

    div {
        display: flex;
        align-items: center;
        margin: 2px;
    }

    .item-reward {
        margin: 2px;
    }
}

.reward-entry {
    display: flex;
    align-items: center;
}