@import "styles.scss";

.quest-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.class {
    background-image: url('/assets/quest-icon/quest-icon-class.png');
}

.daily {
    background-image: url('/assets/quest-icon/quest-icon-daily.png');
}

.epic {
    background-image: url('/assets/quest-icon/quest-icon-epic.png');
}

.event {
    background-image: url('/assets/quest-icon/quest-icon-event.png');
}

.chaos {
    background-image: url('/assets/quest-icon/quest-icon-chaos.png');
}

.normal {
    background-image: url('/assets/quest-icon/quest-icon-normal.png');
}