<div fxLayout="row wrap">
    <div class="wrapper">
        <h2 class="h2-header">{{PAGES.jewels}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.jewelsRings]">{{PAGES.rings}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.jewelsEarrings]">{{PAGES.earrings}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.jewelsNecklace]">{{PAGES.necklace}}</a>
            </div>
        </div>
    </div>
</div>