<div *ngIf="skill"
     class="fiesta-tooltip skill-tooltip">
    <div>
        {{skill.name}}
        <!--(Skill Type : {{skill.skill_type}})-->
    </div>
    <div>
        <div *ngIf="skill.use_class > 1">
            <ng-container i18n>Class :</ng-container> {{ skill.use_class | class}}
            <ng-container i18n>or higher</ng-container>
        </div>
        <div>
            Required Level : {{ skill.view.required_level }}
        </div>
        <div *ngIf="skill.required_weapon != 6">
            Equip Item : {{ skill.required_weapon | weapon }}
        </div>
        <div *ngIf="skill.sp > 0">
            SP Consumption : {{ skill.sp }}
        </div>
        <div *ngIf="skill.sp_rate > 0">
            SP Consumation : {{ skill.sp_rate / 10 | number: '1.0-0' }}%
        </div>
        <div *ngIf="skill.hp_rate > 0">
            HP Consumation : {{ skill.hp_rate / 10 | number: '1.0-0' }}%
        </div>
        <div *ngIf="skill.soul_required > 0">
            Required Soul : {{ skill.soul_required }} Soul or above
        </div>
    </div>
    <div>
        <div *ngIf="skill.max_dmg_rate > 0">
            Additional Attack damage: {{ skill.max_dmg_rate / 10 }}%
        </div>
        <div *ngIf="skill.max_dmg > 0">
            Additional Attack damage: {{ skill.min_dmg }}~{{ skill.max_dmg }}
        </div>
        <div *ngIf="skill.max_mdmg > 0 || skill.max_mdmg_rate > 0">
            Additional Magical Attack damage:
            <ng-container *ngIf="skill.max_mdmg_rate > 0">
                {{ skill.max_mdmg_rate / 10 }}%
            </ng-container>
            <ng-container *ngIf="skill.max_mdmg > 0 && skill.max_mdmg_rate > 0">
                +
            </ng-container>
            <ng-container *ngIf="skill.max_mdmg > 0">
                {{ skill.min_mdmg }}~{{ skill.max_mdmg }}
            </ng-container>
        </div>
        <div>
            <div class="multiline-text">{{ skill.view.function }}</div>
        </div>
    </div>
    <div>
        <!--if -->
        <div *ngIf="skill.cast_time == 0; else castingTime">
            Immediate Cast
        </div>
        <!--else -->
        <ng-template #castingTime>
            Cast Time : {{ skill.cast_time / 1000 | number : '1.1-1' }}sec
        </ng-template>
        <!-- end if -->
        <div>
            Casting Distance : {{ skill.range | fiestaUnitToMeter | number : '1.1-1' }}m
        </div>
        <div>
            Cool Time : {{ skill.cooldown | fiestaSecondsTime : '1.1-1'}}
        </div>
        <div>
            Target Object : {{ skill.casted_on | target }}
        </div>
    </div>
    <div>
        <div class="multiline-text">{{ skill.view.description }}</div>
    </div>
</div>