@use '@angular/material' as mat;
@import "styles.scss";
@import "style/var.scss";

@media (max-width: $main-body-width - 1) {

   .header-layout {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

@media (min-width: $main-body-width) {

   .card-image {
      float: right;
      margin-left: 20px;
      margin-bottom: 20px;
   }
   
   .content-block {
      max-width: $main-body-width - 390px;
   }
}

.main-layout {
   padding: 15px;
}

.header-layout {
   margin-bottom: 40px;
   color: black;
}

.content {
   padding: 10px;
}

.title-content {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   
   .stat {
      font-size: 0.9em;
      display: flex;
      justify-content: center;
      width: 150px;
      margin: 5px 0;
   }
}

.group-card {
   flex-wrap: wrap;
}