<app-page-header [title]="pageTitle">
</app-page-header>

<div *ngIf="card">

    <div class="main-layout">
        <div class="header-layout">
            <h1>
                {{card.view.name}}
            </h1>
            <h3>
                Card Rank : {{ cardRank }}
            </h3>
            <div class="card-image">
                <app-collection-card [card]="card"
                                     [width]="320"
                                     [hasTitle]="true"
                                     [minImage]="false">
                </app-collection-card>
            </div>
            <p>
                <i>{{card.view.description}}</i>
            </p>
        </div>

        <div class="content-block">

            <h3 class="h2-header">Title</h3>
            <div class="title-content content">
                <div>
                    <i>
                        <span *ngIf="card.title; else noTitle">
                            {{ card.title.title }}
                        </span>
                        <ng-template #noTitle>No Title</ng-template>
                    </i>
                </div>

                <div *ngIf="card.title">
                    <div class="stat"
                         *ngFor="let s of card.title.stats">
                        {{s.descript}}
                    </div>
                </div>
            </div>

            <h3 class="h2-header">Unopened Card Roll Rate</h3>
            <div class="content">
                <div class="group-card"
                     fxLayout="row"
                     fxLayoutGap="10px"
                     fxLayoutAlign="center start"
                     *ngIf="(cardGroup | async) as g">
                    <svg [attr.width]="80"
                         viewBox="0 0 320 480">
                        <image [attr.href]="'assets/cards/card_unknown.png'"
                               [attr.x]="0"
                               [attr.y]="0"
                               [attr.width]="320"
                               [attr.height]="480" />
                    </svg>
                    <div fxLayout="column"
                         fxLayoutAlign="center center"
                         fxLayoutGap="10px"
                         *ngFor="let groupCard of g">
                        <a [routerLink]="'/' + ROUTES.cards + '/' + groupCard.card.id">
                            <app-collection-card [card]="groupCard.card"></app-collection-card>
                        </a>
                        <div>
                            {{groupCard.rate}}%
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="h2-header">Mobs (Not all mobs might be listed)</h3>
            
            <div class="content">
                <ng-container *ngFor="let species of card.mob_species">
                    <div *ngIf="(species | async) as s">
                        <app-mob-species-portrait [species]="s">
                        </app-mob-species-portrait>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>