@import "style/colors.scss";
@import "style/var.scss";

header {
    background-color: $top-menu-color;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    nav {
        display: flex;
        height: $top-menu-height;

        justify-content: space-between;

        @media (min-width: 960px) {
            justify-content: left;
        }

        .navigation-site-link:not(:first-child) {
            text-align: center !important;
            background-color: $top-menu-color !important;

            @media (max-width: 960px) {
                display: none !important;
            }
        }
    }
}

.home {
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        background-image: url('/assets/icon-white28x28.png');
        width: 28px;
        height: 28px;
        margin-right: 3px;
        background-size: contain;
    }

    h1 {
        margin: 0;
    }
}

.burger-menu {
    border: 1px solid white;
    margin: 5px;
    width: $top-menu-height - 10px;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        display: block;
        height: 3px;

        background-color: white;

        margin: 3px 3px;
        border-radius: 3px;
    }

    @media (min-width: 960px) {
        display: none !important;
    }
}