<header>
    <div fxLayout="row"
         fxLayoutAlign="space-between">
        <nav>
            <a class="home navigation-site-link"
               [routerLink]="['/']"
               (click)="toggleSidenav.emit(false)">
                <div class="logo"></div>
                <h1>Fiesta Wiki</h1>
            </a>

            <a class="navigation-site-link"
               mat-menu-item
               [routerLink]="[ROUTES.quests]">
                <h3>{{PAGES.quests}}</h3>
            </a>
            <!--<a class="navigation-site-link" mat-menu-item [routerLink]="[ROUTES.questingTool]">
                <h3>Questing Tool</h3>
            </a>-->
            <a class="navigation-site-link"
               mat-menu-item
               [matMenuTriggerFor]="itemsMenu">
                <h3>{{PAGES.items}}</h3>
            </a>
            <a class="navigation-site-link"
               mat-menu-item
               [matMenuTriggerFor]="skillsMenu">
                <h3>{{PAGES.skills}}</h3>
            </a>
            <a class="navigation-site-link"
               mat-menu-item
               [matMenuTriggerFor]="alchemyMenu">
                <h3>{{PAGES.alchemy}}</h3>
            </a>
            <a class="navigation-site-link"
               mat-menu-item
               [routerLink]="[ROUTES.titles]">
                <h3>{{PAGES.titles}}</h3>
            </a>
            <a class="navigation-site-link"
               mat-menu-item
               [routerLink]="[ROUTES.cards]">
                <h3>{{PAGES.cards}}</h3>
            </a>
            <a class="navigation-site-link"
               mat-menu-item
               [routerLink]="[ROUTES.luckyCapsule]">
                <h3>{{PAGES.luckyCapsule}}</h3>
            </a>
            <a class="navigation-site-link"
               mat-menu-item
               [routerLink]="[ROUTES.mobs]">
                <h3>{{PAGES.mobs}}</h3>
            </a>
            <a class="navigation-site-link"
               mat-menu-item
               [routerLink]="[ROUTES.licenses]">
                <h3>{{PAGES.licenses}}</h3>
            </a>
        </nav>

        <div fxLayout="row">

            <button mat-icon-button
                    fxFlexAlign="center"
                    [matMenuTriggerFor]="menu">
                <mat-icon [svgIcon]="LOCALE.flag"></mat-icon>
            </button>
            <!-- template for menu -->
            <mat-menu #menu="matMenu">
                <a mat-menu-item
                   href="http://fiesta-wiki.com">
                    <mat-icon svgIcon="flag-us"></mat-icon>
                    NA Wiki
                </a>
                <a mat-menu-item
                   href="http://de.fiesta-wiki.com">
                    <mat-icon svgIcon="flag-de"></mat-icon>
                    EU Wiki
                </a>
            </mat-menu>

            <div fxLayout="row">
                <div class="burger-menu"
                     (click)="toggleSidenav.emit()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

    </div>
</header>

<mat-menu #itemsMenu="matMenu">
    <div class="navigation-site-link"
         mat-menu-item
         [matMenuTriggerFor]="weaponsMenu">
        <h3>{{PAGES.weapons}}</h3>
    </div>
    <div class="navigation-site-link"
         mat-menu-item
         [matMenuTriggerFor]="shieldsMenu">
        <h3>{{PAGES.shields}}</h3>
    </div>
    <div class="navigation-site-link"
         mat-menu-item
         [matMenuTriggerFor]="gearsMenu">
        <h3>{{PAGES.gears}}</h3>
    </div>
    <div class="navigation-site-link"
         mat-menu-item
         [matMenuTriggerFor]="jewelsMenu">
        <h3>{{PAGES.jewels}}</h3>
    </div>
    <div class="navigation-site-link"
         mat-menu-item
         [routerLink]="[ROUTES.bracelets]">
        <h3>{{PAGES.bracelets}}</h3>
    </div>
    <div class="navigation-site-link"
         mat-menu-item
         [routerLink]="[ROUTES.talismans]">
        <h3>{{PAGES.talismans}}</h3>
    </div>
    <ng-container *ngIf="LOCALE.version == 'na'">
        <div class="navigation-site-link"
             mat-menu-item
             [routerLink]="[ROUTES.premium]">
            <h3>{{PAGES.premiumItems}}</h3>
        </div>
    </ng-container>
</mat-menu>

<mat-menu #weaponsMenu="matMenu">
    <app-weapons-menu></app-weapons-menu>
</mat-menu>

<mat-menu #shieldsMenu="matMenu">
    <app-shields-menu></app-shields-menu>
</mat-menu>

<mat-menu #gearsMenu="matMenu">
    <app-gears-menu></app-gears-menu>
</mat-menu>

<mat-menu #jewelsMenu="matMenu">
    <app-jewels-menu></app-jewels-menu>
</mat-menu>

<mat-menu #skillsMenu="matMenu">
    <app-skills-menu></app-skills-menu>
</mat-menu>

<mat-menu #alchemyMenu="matMenu">
    <div class="navigation-site-link"
         mat-menu-item
         [routerLink]="[ROUTES.alchemyStones]">
        <h3>{{PAGES.stones}}</h3>
    </div>
    <div class="navigation-site-link"
         mat-menu-item
         [routerLink]="[ROUTES.alchemyPotions]">
        <h3>{{PAGES.potions}}</h3>
    </div>
    <div class="navigation-site-link"
         mat-menu-item
         [routerLink]="[ROUTES.alchemyScrolls]">
        <h3>{{PAGES.scrolls}}</h3>
    </div>
    <div class="navigation-site-link"
         mat-menu-item
         [routerLink]="[ROUTES.alchemyComp]">
        <h3>{{PAGES.composition}}</h3>
    </div>
    <div class="navigation-site-link"
         mat-menu-item
         [routerLink]="[ROUTES.alchemyDecomp]">
        <h3>{{PAGES.decomposition}}</h3>
    </div>
</mat-menu>