<mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="suffix">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let level">
            {{level.suffix}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="killCount">
        <mat-header-cell *matHeaderCellDef>Kill Count</mat-header-cell>
        <mat-cell *matCellDef="let level">
            {{level.mob_kill_count}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="damage">
        <mat-header-cell *matHeaderCellDef>Damage</mat-header-cell>
        <mat-cell *matCellDef="let level">
            {{level.dmg_ratio / 10 | number: '1.1-1'}}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="crit">
        <mat-header-cell *matHeaderCellDef>Crit</mat-header-cell>
        <mat-cell *matCellDef="let level">
            {{level.crit_ratio / 10 | number: '1.1-1'}}%
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>