<h2 mat-dialog-title>Create Store Item View</h2>
<mat-dialog-content class="dialog-content">
   <form [formGroup]="storeItemSetForm">
      <mat-form-field>
         <mat-label>Item Name</mat-label>
         <input matInput [formControl]="nameControl">
      </mat-form-field>
      
      <div class="store-items">
         <ng-container 
            *ngFor="let item of view.store_items"
            >
            <mat-checkbox 
               *ngIf="item.set == null"
               (change)="onItemChecked(item, $event)"
               >
               <div class="store-item-entity">
                  <ng-container *ngIf="item.item">
                     <app-item-icon [item]="item.item"></app-item-icon>

                     <span>
                        {{ item.item.name }}
                     </span>
                  </ng-container>
               </div>
            </mat-checkbox>
         </ng-container>
      </div>
   </form>
</mat-dialog-content>
<mat-dialog-actions>
   <button mat-button [mat-dialog-close]="output">Create</button>
   <button mat-button [mat-dialog-close]="null">Cancel</button>
</mat-dialog-actions>