<div class="skills-card">
    <div class="active-skill-card section">
        <h3 class="h2-header">Active Skills</h3>
        <div class="skills-container">
            <div class="skill"
                 *ngFor="let s of activeSkills"
                 [ngClass]="{ 'skill-selected' : s == selectedSkill }">
                <app-active-skill-icon [skill]="s"
                                       (click)="onActiveSkillSelected(s)">
                </app-active-skill-icon>
            </div>
        </div>
    </div>
    <div class="passive-skill-card section">
        <h3 class="h2-header">Passive Skills</h3>
        <div class="skills-container">
            <div class="skill"
                 *ngFor="let s of passiveSkills"
                 [ngClass]="{ 'skill-selected' : s == selectedSkill }">
                <app-passive-skill-icon [skill]="s"
                                        (click)="onPassiveSkillSelected(s)">
                </app-passive-skill-icon>
            </div>
        </div>
    </div>
</div>