@use '@angular/material' as mat;
@import "styles.scss";

:host {
   display: inline-block;
}

.icon {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.portrait-contour {
    stroke: mat.get-color-from-palette($md-fiesta-background, 200);
 }