/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import "style/colors";
@import "style/var.scss";
@import "style/global-style.scss";
@import "style/text-fomating.scss";
@import "@angular/material/theming";

html {
    background-color: $top-menu-color;
    height: 100%;
}

html::before {
    content: " ";
    display: block;
    background-image: url('/assets/background.webp');
    background-position: center;
    background-size: cover;
    top: $top-menu-height;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10; // This is pretty important.
}

h2,
h3 {
    margin: 0;
}

.h2-header {
    display: flex;
    align-items: center;
    background-color: mat.get-color-from-palette($md-fiesta-background, 500);
    color: mat.get-color-from-palette($md-fiesta-primary, 200);
    padding: 0px 10px;
    font-size: 18px;
    height: 48px;
}

.mat-menu-panel {
    max-width: 360px !important;
    border-radius: 0 !important;
    background-color: mat.get-color-from-palette($md-fiesta-background, 400) !important;
}

.mat-menu-content {
    padding: 0 !important;
}

a {
    outline: 0;
    text-decoration: none;
    color: inherit;
}

.mat-table {
    width: 100%;
    font-size: 0.8em;
    background-color: mat.get-color-from-palette($md-fiesta-background, 700);

    .mat-header-cell {
        color: mat.get-color-from-palette($md-fiesta-primary, 200);
        font-size: 1.2em;
        justify-content: center;
    }

    .mat-cell {
        justify-content: center;
    }
}

.mat-table {
    background: none;

    .mat-header-row {
        background-color: mat.get-color-from-palette($md-fiesta-background, 700);
    }

    .mat-row {
        .mat-cell:first-of-type {
            padding-left: 10px;
        }

        .mat-cell:last-of-type {
            padding-right: 10px;
        }
    }

    .mat-sub-row {
        overflow: hidden;
        background-color: mat.get-color-from-palette($md-fiesta-background, 300);
    }

    .table-icon-cell {
        flex: 0 0 33px;
        padding: 0 10px !important;
    }

    .table-name-cell,
    .table-name-header {
        @media (min-width: 1000px) {
            min-width: 250px;
        }
    }

    .table-name-cell {
        justify-content: left !important;
    }
}

.content-block {
    color: white;
    background-color: mat.get-color-from-palette($md-fiesta-background, 400);
}

.section {
    border: 1px solid mat.get-color-from-palette($md-fiesta-background, 500);
}

.fiesta-tooltip {
    display: block;
    font-size: 13px;
    border-width: 5px;
    border-style: solid;
    border-image: url('/assets/Framebox.png') 5 stretch;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding-right: 10px;
}

.fiesta-icon {
    // background-color: black;
    background-size: contain;
    background-clip: padding-box;
    background-repeat: no-repeat;
    // box-sizing: border-box;
    // border: 1px solid white;
    margin-bottom: 0;
    word-spacing: -1;
    user-select: none;
}

.fiesta-input {
    color: white;
}

.gem,
.gold,
.silver,
.copper {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::after {
        margin: 0 2px;
        width: 16px;
        height: 16px;
    }
}

.gem::after {
    content: url('/assets/money-icon/money-icon-gem.png');
}

.gold::after {
    content: url('/assets/money-icon/money-icon-gold.png');
}

.silver::after {
    content: url('/assets/money-icon/money-icon-silver.png');
}

.copper::after {
    content: url('/assets/money-icon/money-icon-copper.png');
}

.multiline-text {
    white-space: pre-line;
}

/*
@font-face {
   font-family: curlz;
   src: url('/assets/CurlzMT.ttf') format('truetype');
 }*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

// Disable spinbox button
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.page-content {
    margin: 50px 0;
}

.help-icon {
    color: mat.get-color-from-palette($md-fiesta-primary, 200) !important;
    font-size: 16px !important;
}

.site-link {
    text-decoration: underline;
    color: $yellow3;
}