<app-page-header [title]="'Premium Items'">
</app-page-header>

<div class="main-layout">

    <ng-container *ngIf="categories">

        <ng-container *ngIf="!isMobileResolution; else footer">
            <app-premium-items-search class="search-panel"
                                      [categories]="categories"
                                      (filter)="onFilter($event)">
            </app-premium-items-search>
        </ng-container>
        <ng-template #footer>
            <div class="footer-search"
                 (click)="openBottomSheet()">
                <b>Search</b>
            </div>
        </ng-template>

        <div class="view-panel">

            <mat-chip-list class="filters-list">
                <mat-chip *ngIf="search.length > 0"
                          [removable]="true"
                          (removed)="clearSearch()">
                    {{search}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip [ngClass]="{
                  'store-category-tag-time': c.type == 0,
                  'store-category-tag-stats': c.type == 1,
                  'store-category-tag-slot': c.type == 2,
                  'store-category-tag-designer': c.type == 3
               }"
                          *ngFor="let c of selectedCategories"
                          [removable]="true"
                          (removed)="removeFilter(c)">
                    {{c.name}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>

            <ng-container *ngIf="page">

                <mat-paginator [hidePageSize]="true"
                               [pageIndex]="page.number"
                               [length]="page.totalElements"
                               [pageSize]="page.size"
                               (page)="onPageChange($event)">
                </mat-paginator>

                <app-page-loader [status]="pageLoadingStatus">

                    <ng-container *ngIf="page.totalElements > 0; else noItemFound">

                        <div class="store-item-view-layout">
                            <div class="store-item-view"
                                 *ngFor="let itemView of items">
                                <h3>
                                    {{itemView.name}}
                                </h3>
                                <div class="store-item-view-content">
                                    <div class="store-item-view-row-1">
                                        <ng-container *ngIf="itemView.image_previews[0]">
                                            <div class="store-item-image-preview"
                                                 [ngStyle]="{'background-image' : 'url(' + STATIC_ASSETS + 'store-items/' + itemView.image_previews[0].filename + ')'}">
                                            </div>
                                        </ng-container>
                                        <div class="items-stats">
                                            <ng-container *ngIf="itemView.store_items.length">
                                                <app-item-stat-list *ngFor="let item of getItemInfo(itemView)"
                                                                    class="store-item-info-stats"
                                                                    [item_info]="item.item_info | async">
                                                </app-item-stat-list>
                                            </ng-container>
                                        </div>
                                        <ng-container *ngIf="itemView.image_previews[1]">
                                            <div class="store-item-image-preview"
                                                 [ngStyle]="{'background-image' : 'url(' + STATIC_ASSETS + 'store-items/' + itemView.image_previews[1].filename + ')'}">
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="store-item-view-row-2">
                                        <mat-chip-list>
                                            <mat-chip class="store-item-category-chip"
                                                      [ngClass]="{
                                       'store-category-tag-time': c.type == 0,
                                       'store-category-tag-stats': c.type == 1,
                                       'store-category-tag-slot': c.type == 2,
                                       'store-category-tag-designer': c.type == 3
                                    }"
                                                      *ngFor="let c of getCategories(itemView)">
                                                {{c.name}}
                                            </mat-chip>
                                        </mat-chip-list>
                                    </div>
                                    <div class="store-item-view-row-3">
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    More
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    <!-- This is a summary of the content -->
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>

                                            <div class="store-item"
                                                 *ngFor="let item of itemView.store_items">
                                                <div class="store-item-row-1">
                                                    <app-item-icon [item]="item.item"></app-item-icon>

                                                    <span class="store-item-name">
                                                        {{ item.item.name }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="store-item-view-description">
                                                {{ itemView.description }}
                                            </div>

                                        </mat-expansion-panel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <ng-template #noItemFound>
                        <div class="no-items-found">
                            No items found for this search
                        </div>
                    </ng-template>

                </app-page-loader>

                <mat-paginator [hidePageSize]="true"
                               [pageIndex]="page.number"
                               [length]="page.totalElements"
                               [pageSize]="page.size"
                               (page)="onPageChange($event)">
                </mat-paginator>

            </ng-container>
        </div>

    </ng-container>

</div>