@use '@angular/material' as mat;
@import 'styles.scss';

$max-mobile-width: 599px;
$min-desktop-width: 600px;

.main-layout {
   margin: 50px 0;
   display: flex;
   flex-direction: row;
}

.search-panel {
   margin: 0 10px;
   max-width: 250px;
   background-color: mat.get-color-from-palette($md-fiesta-background, 300);
   align-self: flex-start;
}

.footer-search {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: mat.get-color-from-palette($md-fiesta-background, 600);
   color: white;
   text-align: center;
   padding: 10px 0;
   z-index: 1000;
   cursor: pointer;

   &:hover {
      background-color: mat.get-color-from-palette($md-fiesta-background, 400);
   }
}

.view-panel {
   flex: 1;
   background-color: mat.get-color-from-palette($md-fiesta-background, 400);
   align-self: flex-start;
}

.filters-list {
   display: block;
   padding: 10px;
}

.no-items-found {
   padding: 100px 0;
   text-align: center;
   color: white;
}

.mat-expansion-panel {
   border-radius: 0 !important;
}

.store-item-view-description {
   padding: 5px 0;
}

.store-item-view-row-1 {
   display: flex;
   flex-direction: column;
   align-items: center;

   @media (min-width: $min-desktop-width) {
      flex-direction: row;
      justify-content: center;
   }
}

.store-item-view-row-2 {
   padding: 5px;
}

.items-stats {
   min-width: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 5px;
}

.store-item-info-stats {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 0.9em;
}

.store-item-image-preview {
   background-size: 300px auto;
   background-position: center;
   border: 1px solid black;
   box-sizing: border-box;
   background-repeat: no-repeat;
   
   @media (max-width: $max-mobile-width) {
      flex: 0 1 200px;
      width: 300px;
   }
   @media (min-width: $min-desktop-width) {
      flex: 0 1 300px;
      height: 200px;
   }
}