<div class="wrapper">
    <h2 class="h2-header">{{PAGES.skills}}</h2>
    <div>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsFighter]">{{CLASSES.fighter}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsCleverFighter]">{{CLASSES.cleverFighter}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsWarrior]">{{CLASSES.warrior}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsKnight]">{{CLASSES.knight}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsGladiator]">{{CLASSES.gladiator}}</a>
            </div>
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsCleric]">{{CLASSES.cleric}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsHighCleric]">{{CLASSES.highCleric}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsPaladin]">{{CLASSES.paladin}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsGuardian]">{{CLASSES.guardian}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsHolyKnight]">{{CLASSES.holyKnight}}</a>
            </div>
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsArcher]">{{CLASSES.archer}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsHawkArcher]">{{CLASSES.hawkArcher}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsScout]">{{CLASSES.scout}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsSharpShooter]">{{CLASSES.sharpShooter}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsRanger]">{{CLASSES.ranger}}</a>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsMage]">{{CLASSES.mage}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsWizMage]">{{CLASSES.wizMage}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsEnchanter]">{{CLASSES.enchanter}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsWizard]">{{CLASSES.wizard}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsWarlock]">{{CLASSES.warlock}}</a>
            </div>
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsTrickster]">{{CLASSES.trickster}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsGambit]">{{CLASSES.gambit}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsRenegade]">{{CLASSES.renegade}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsReaper]">{{CLASSES.reaper}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsSpectre]">{{CLASSES.spectre}}</a>
            </div>
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsCrusader]">{{CLASSES.crusader}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.skillsTemplar]">{{CLASSES.templar}}</a>
            </div>
        </div>
    </div>
</div>