<app-page-header [title]="species.name">
</app-page-header>

<div class="wrapper">
    <div class="section-row">
        <ng-container *ngFor="let mob_info of mobs">
            <div *ngIf="mob_info.active"
                 class="section description">
                <h2 class="h2-header"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    fxLayoutGap="5px">
                    <span>{{mob_info.name}} (Lv. {{mob_info.level}})</span>
                    <app-mob-class-icon [name]="mob_info.grade_type | monsterClass"
                                        [matTooltip]="mob_info.grade_type | monsterClassName">
                    </app-mob-class-icon>
                    <app-mob-class-icon [name]="mob_info.type | monsterCategory"
                                        [matTooltip]="mob_info.type | monsterCategoryName">
                    </app-mob-class-icon>
                </h2>
                <div class="mob-icon">
                    <app-mob-icon [mobPortrait]="mob_info.view.mob_portrait"
                                  [iconSize]="64">
                    </app-mob-icon>
                </div>
                <div>
                    <h2 class="h2-header">Stats</h2>
                    <div class="mob-stats">
                        <div>
                            <div>HP : </div>
                            <div>{{mob_info.max_hp | number}}</div>
                        </div>
                        <div>
                            <div>XP : </div>
                            <div>
                                <ng-container *ngIf="mob_info.exp else unknownXP">
                                    {{mob_info.exp | number}}
                                </ng-container>

                                <ng-template #unknownXP>
                                    n/a
                                </ng-template>
                            </div>
                        </div>
                        <div>
                            <div>Location : </div>
                            <div>
                                <ng-container *ngIf="mob_info.coordinates.length > 0; else unknownLocation">
                                    {{(mob_info.coordinates[0].map | async)?.name}}
                                </ng-container>

                                <ng-template #unknownLocation>
                                    n/a
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="section">
        <h2 class="h2-header">Related Quests</h2>
        <div *ngIf="relatedQuests.length then questsList else noRelatedQuests"></div>
        <ng-template #questsList>
            <div class="related-quests-content">
                <app-quest *ngFor="let quest of relatedQuests"
                           class="quest-entry"
                           [quest]="quest">
                </app-quest>
            </div>
        </ng-template>
        <ng-template #noRelatedQuests>
            <div class="related-quests-content">
                No related quests for this mob
            </div>
        </ng-template>
    </div>

    <ng-container *ngIf="dataSource.data.length > 0">
        <div class="section">
            <h2 class="h2-header">Mob Drops</h2>
            <div class="related-quests-content">
                <mat-table [dataSource]="dataSource"
                           multiTemplateDataRows>

                    <ng-container matColumnDef="drops-preview">
                        <mat-header-cell *matHeaderCellDef>Drops</mat-header-cell>
                        <mat-cell *matCellDef="let drop"
                                  fxLayout="row wrap">
                            <app-item-icon *ngFor="let item$ of drop.item_drops | slice:0:13"
                                           [item]="item$ | async">
                            </app-item-icon>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="drop-rate">
                        <mat-header-cell *matHeaderCellDef>
                            Rate
                            <mat-icon class="help-icon"
                                      inline="true"
                                      matTooltip="This information is not 100% guaranteed. This is the base drop rate and doesn't take into account rant or drop rate reduction due to level difference.">
                                help
                            </mat-icon>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let drop">
                            <div>{{ drop.drop_rate / 10000 }}%</div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="drops">
                        <mat-header-cell *matHeaderCellDef>Drops</mat-header-cell>
                        <mat-cell *matCellDef="let entry">
                            <div *ngIf="expandedElement == entry"
                                 class="drop-list">
                                <ng-container *ngFor="let item$ of entry.item_drops">
                                    <app-item [item]="item$ | async"></app-item>
                                </ng-container>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"
                             class="clickable-row"
                             (click)="expandedElement = expandedElement === row ? null : row">
                    </mat-row>
                    <mat-row *matRowDef="let row; columns: ['drops'];"
                             [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
                             class="detail-row">
                    </mat-row>
                </mat-table>
            </div>
        </div>
    </ng-container>
</div>