@use '@angular/material' as mat;
@import "style/colors.scss";
@import "style/var.scss";

.wrapper {
    border: 1px solid mat.get-color-from-palette($md-fiesta-background, 500);
    background-color: mat.get-color-from-palette($md-fiesta-background, 350);
    margin: 5px;
}

.section-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section {
    margin: 10px;
}

.related-quests-content {
    padding: 5px;
}

.quest-entry {
    margin: 4px;
}

.description {
    width: 270px;

    h2 {
        display: flex;
        justify-content: center;
    }
}

.mob-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.mob-stats {
    font-size: 0.8em;
    background-color: mat.get-color-from-palette($md-fiesta-background, 300);
    display: flex;
    flex-direction: column;

    &>div {
        margin: 3px;
        display: flex;
        flex: 1;

        &>* {
            flex: 1;

            &:first-child {
                text-align: right;
                padding-right: 3px;
            }
        }
    }
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background: #777 !important;
}

.detail-row {
    overflow: hidden;
    background-color: mat.get-color-from-palette($md-fiesta-background, 400);
}

.drop-list {
    display: flex;
    flex-direction: column;

    &>* {
        margin: 5px;
    }
}

.flextoto {
    display: flex;
    flex-wrap: wrap;
}