<div *ngIf="item && (item.item_info | async) as item_info"
     class="fiesta-tooltip item-tooltip">
    <div [ngStyle]="{ 'color' : (item.item_grade_type | itemGradeColor)}">
        <!--({{item.id}})-->
        {{ item.name }}
        <span *ngIf="enhancement > 0">
            [+{{enhancement}}]
        </span>
    </div>

    <div>
        <div *ngIf="item_info.use_class > 1">
            <ng-container i18n>Class :</ng-container> {{ item_info.use_class | class}}
            <ng-container i18n>or higher</ng-container>
        </div>
        <div *ngIf="item_info.required_level">
            <ng-container i18n>Required Level :</ng-container>
            <span *ngIf="item_info.hasRandomMinusLevel && showMaxStats; else level"
                  class="level-range">
                ({{item_info.minLevel}}-{{ item_info.required_level }})
            </span>
            <ng-template #level>
                {{ item_info.required_level }}
            </ng-template>
        </div>
        <div *ngIf="item_info.grade">
            <ng-container i18n>Item Level :</ng-container> {{ item_info.grade }}
        </div>
        <div *ngIf="item_info.item_category == 5">
            <!-- Only for weapons -->
            <ng-container i18n>Weapon Type :</ng-container>
            <ng-container *ngIf="item_info.two_hand; else oneHand"
                          i18n>Two Handed Weapon</ng-container>
            <ng-template #oneHand
                         i18n>One Handed Weapon</ng-template>
        </div>
    </div>

    <div *ngIf="item_info.production_skill_required > 0">
        Required Skill Level: {{ item_info.production_skill_required }}
    </div>

    <app-item-stat-list [item_info]="item_info"
                        [enhancement]="enhancement">
    </app-item-stat-list>

    <div *ngIf="item_info.description"
         class="description">
        {{ item_info.description}}
    </div>

    <ng-container *ngIf="(item_info.item_set | async) as item_set">
        <div class="set-effect">
            <div class="set-name">[{{item_set.set_name}}]</div>
            <div>Set contents</div>
            <div *ngFor="let i of item_set.set_items | async">
                {{i.name}}
            </div>
            <div class="effect-description"
                 *ngFor="let effect of item_set.set_effects | async; let i = index">
                {{effect.count}} set effects <br>
                <div class="skill-icons">
                    <ng-container *ngFor="let action of effect.item_actions | async">
                        <!--{{action.condition.condition_id}}-->
                        <ng-container *ngIf="action.condition.skill_group as skill_group">
                            <ng-container *ngFor="let skill of skill_group.skills | async">
                                <ng-container *ngIf="item_info.use_class | compatibleClass:skill.use_class">
                                    <div class="icon fiesta-icon">
                                        <svg width="32"
                                             height="32">
                                            <!-- let <image> height and width or it won't show the image on first draw in chrome -->
                                            <image height="32"
                                                   width="32"
                                                   [attr.href]="STATIC_ASSETS + 'icons/' + skill.view.icon_file  + '_' + skill.view.icon_index + '.webp'" />
                                        </svg>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
                {{ effect.item_action_effect_desc[0].item_action_description }}
            </div>
        </div>
    </ng-container>
</div>