<div class="picture-frame">
    <img [src]="imagePath"
         [alt]="description"
         [attr.width]="width"
         [attr.height]="height">
    <span *ngIf="description"
          class="picture-description">
        {{description}}
    </span>
</div>