

html {
   font-family: Arial;
   height: 100%;
 }
 
 html::before {
   content: " ";
   display: block;
   background-image: url("background.jpg");
   background-position: center;
   background-size: cover;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   position: fixed;
   z-index: -10; 
 }

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 300px;
   width: 1000px;
   margin: auto;
   margin-top: 60px;
   border: solid 2px black;
   background-color: #ffffff88;
}