<app-mob-icon [mobPortrait]="species.mob_portrait"
              [iconSize]="iconSize"
              >
</app-mob-icon>
<div *ngIf="species"
     class="description">
    <a [routerLink]="['/', ROUTES.mobs, species.id]">
        {{ species.name }}
    </a>
</div>