<app-quest-line *ngFor="let previous of questLine.previous_quests"
                [questLine]="previous">
</app-quest-line>
<div>
    <span *ngIf="current">-</span>{{(questLine.quest | async).title}}
</div>
<app-quest-line class="next-quest"
                *ngFor="let next of questLine.next_quests"
                [questLine]="next">
</app-quest-line>