<ng-container *ngIf="item_info">
    <ng-container *ngIf="item_info.upgrade_info && 
                        item_info.upgrade_info.upgrades[enhancement] > 0 &&
                        item_info.upgrade_info.stat_upgrade == stat">
        <span [ngSwitch]="stat"
              class="enhancement-upgrade">
            <ng-container *ngSwitchCase="8">
                <!-- crit -->
                (+{{item_info.upgrade_info.upgrades[enhancement] / 1000 | number: '1.1-1'}}%)
            </ng-container>
            <ng-container *ngSwitchCase="0">
                (+{{item_info.upgrade_info.upgrades[enhancement]}})
            </ng-container>
            <ng-container *ngSwitchCase="1">
                (+{{item_info.upgrade_info.upgrades[enhancement]}})
            </ng-container>
            <ng-container *ngSwitchCase="3">
                (+{{item_info.upgrade_info.upgrades[enhancement]}})
            </ng-container>
            <ng-container *ngSwitchCase="4">
                (+{{item_info.upgrade_info.upgrades[enhancement]}})
            </ng-container>
            <ng-container *ngSwitchCase="6">
                (+{{item_info.upgrade_info.upgrades[enhancement]}})
            </ng-container>
            <ng-container *ngSwitchCase="7">
                (+{{item_info.upgrade_info.upgrades[enhancement]}})
            </ng-container>
        </span>
    </ng-container>
</ng-container>