<app-page-header [title]="PAGE_TITLE">

    <div class="guide-page">
        <p>
            Lucky Capsules can be obtained in the Lucky House in exchange for Lucky House Coins and opened to obtain one random item. There are currently 4 different kind
            of capsules which provide with various material and rare items. Players usually use them to get:
        </p>
        <ul>
            <li>
                <b>Weapons:</b> Unique weapons level 91, 105 and 114 can be obtained respectively from Blue Lucky Capsule [2], Red Lucky Capsule and Red Gold Lucky Capsule.
            </li>
            <li>
                <b>Roars:</b> Can be obtained from Blue Lucky Capsule with a fair rate.
            </li>
            <li>
                <b>King Crab:</b> Can be obtained from Blue Lucky Capsule and can be used to upgrade your mounts.
            </li>
            <li>
                <b>Consumables & Stones</b>
            </li>
        </ul>
    </div>

</app-page-header>

<div class="capsule-page">

    <app-picture [imagePath]="staticAssetsUrl + 'guides/lucky_house_capsule_machine.png'"
                 [description]="'Lucky Capsule Machine'"
                 [width]="433"
                 [height]="279">
    </app-picture>

    <div class="capsule-selector-layout">
        <a *ngFor="let c of capsules"
           [routerLink]="['/', ROUTES.luckyCapsule]"
           [queryParams]="{ id : c.server_id }"
           routerLinkActive="active-link"
           class="capsule-selector-block">
            <app-item-icon [item]="c.capsule"></app-item-icon>
            <div class="capsule-selector-col-2">
                <div>{{c.capsule.name}}</div>
                <div *ngIf="(c.capsule.item_info | async) as item_info"
                     class="capsule-price">
                    {{item_info.buy_lh_coin}} Coins
                </div>
            </div>
        </a>
    </div>
</div>

<div class="capsule-reward-block">
    <div class="spanning-block"></div>
    <app-page-loader class="capsule-reward-list"
                     [status]="pageLoadingStatus">
        <div *ngFor="let group of luckyCapsuleGroupRates">
            <div class="group-rate">
                {{group.rate / 10000}} %
                <mat-icon class="help-icon"
                          inline="true"
                          matTooltip="The Lucky Capsules Rate have been calculated based on user experience and are not guaranteed to be accurate.">
                    help
                </mat-icon>
            </div>
            <mat-divider></mat-divider>
            <div *ngFor="let reward of group.rewards">
                <ng-container *ngIf="reward.item">
                    <div class="capsule-reward-row">
                        <app-item class="capsule-reward-item"
                                  [item]="reward.item"></app-item>
                        <span>{{(group.rate / group.rewards.length) / 10000 | number}}%</span>
                    </div>
                    <mat-divider></mat-divider>
                </ng-container>
            </div>
        </div>
    </app-page-loader>
    <div class="spanning-block"></div>
</div>