<div class="content-block">
    <ng-container *ngIf="mob; else loading">
        <app-mob-portrait [mob]="mob"
                          showName="true"></app-mob-portrait>

        <div *ngFor="let drop of mobDrop">
            <ng-container *ngIf="drop.item_drops | async as items; else loading2">
                <div *ngIf="items.length > 0"
                     class="drop-group">
                    <div class="drop-item-list">
                        <app-item-icon *ngFor="let item of items"
                                       [item]="item"></app-item-icon>
                    </div>
                    <div>{{ drop.drop_rate / 10000 }}%</div>
                </div>
            </ng-container>

            <ng-template #loading2>Loading...</ng-template>
        </div>
    </ng-container>

    <ng-template #loading>Loading...</ng-template>
</div>