.content-block {
    margin: auto;
    width: 500px;
    padding: 20px;
}

.drop-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.drop-item-list {
    display: flex;
    flex-wrap: wrap;
}