<div class="header">
    <div>
        <h2>
            Level {{ levelInfo.level }}
        </h2>
    </div>
    <div class="header-total-exp">
        <span><ng-container i18n>Total Exp</ng-container> : {{ levelInfo.total_xp | number }}</span>
        <span *ngIf="levelInfo.xp_required"> ({{ levelInfo.total_xp / levelInfo.xp_required  | percent : '1.0-1'}})</span>
    </div>
    <div class="header-total-exp"
         *ngIf="levelInfo.xp_required">
        <ng-container i18n>Exp Required</ng-container> : {{ levelInfo.xp_required | number }}
    </div>
</div>

<div>
    <div class="quest-header">
        <div class="header-title"><b i18n>Title</b></div>
        <div class="header-level"><b i18n>Level</b></div>
        <div class="header-exp"><b i18n>Exp</b></div>
        <div class="header-money"><b i18n>Money</b></div>
        <div class="header-reward"><b i18n>Rewards</b></div>
    </div>

    <ng-container *ngFor="let quest of quests">
        <app-quest *ngIf="quest"
                   class="quest-entry"
                   [quest]="quest"
                   [xpRequired]="levelInfo.xp_required">
        </app-quest>
    </ng-container>
</div>