<div fxLayout="row wrap">
    <div class="wrapper">
        <h2 class="h2-header">{{PAGES.shields}}</h2>
        <div class="list">
            <div fxLayout="column wrap">
                <a class="list-item"
                   [routerLink]="[ROUTES.shieldsFighter]">{{PAGES.fighterShield}}</a>
                <a class="list-item"
                   [routerLink]="[ROUTES.shieldsCleric]">{{PAGES.clericShield}}</a>
            </div>
        </div>
    </div>
</div>