@import 'style/var.scss';
@import 'style/fiesta-colors.scss';

:host {
    display: block;
    background-color: $table-background;
}

.enhancement-upgrade {
    color: $enhancement-upgrade-color;
}

.crit-rate-column,
.sell-price-column,
.block-rate-column {
    display: flex;

    @media (max-width: 700px) {
        display: none !important;
    }
}

.aim-column {
    display: flex;

    @media (max-width: 400px) {
        display: none !important;
    }
}