<mat-paginator [hidePageSize]="true"
               [pageIndex]="page.number"
               [length]="page.totalElements"
               [pageSize]="page.size"
               (page)="onPageChange($event)">
</mat-paginator>

<mat-table matSort
           class="mat-table"
           [matSortDisableClear]="true"
           [dataSource]="dataSource"
           (matSortChange)="onSort($event)">

    <ng-container matColumnDef="icon">
        <mat-header-cell class="table-icon-cell"
                         *matHeaderCellDef>
        </mat-header-cell>
        <mat-cell class="table-icon-cell"
                  *matCellDef="let item">
            <app-item-icon [item]="item"
                           [enhancement]="enhancement">
            </app-item-icon>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell class="table-name-header"
                         *matHeaderCellDef
                         mat-sort-header>Name</mat-header-cell>
        <mat-cell class="table-name-cell"
                  *matCellDef="let item"
                  [ngStyle]="{ 'color' : (item.item_grade_type | itemGradeColor)}">
            <span>
                <!--[{{item.id}}]-->

                {{ item.name }}

                <!--<ng-container *ngIf="item.random_stats">
                  [{{item.random_stats.name}}]
                </ng-container>-->

                <ng-container *ngIf="enhancement > 0">
                    <ng-container *ngIf="(item.item_info | async) as item_info">
                        [+{{enhancement > item_info.upgrade_max ? item_info.upgrade_max : enhancement}}]
                    </ng-container>
                </ng-container>
            </span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="level">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>Level</mat-header-cell>
        <mat-cell *matCellDef="let item">
            <ng-container *ngIf="(item.item_info | async) as item_info">
                {{item_info.required_level}}
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="damage">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>Damage</mat-header-cell>
        <mat-cell *matCellDef="let item">
            <span style="text-align:center"
                  *ngIf="(item.item_info | async) as item_info">
                <ng-container *ngIf="item_info.hasDmgPlus">
                    {{ item_info.stats.dmg_plus }}
                </ng-container>
                <ng-container *ngIf="item_info.max_phy_atk > 0">
                    {{ item_info.min_phy_atk }}~{{item_info.max_phy_atk}}
                </ng-container>
                <ng-container *ngIf="item_info.max_phy_atk == 0 && !item_info.hasDmgPlus">
                    0
                </ng-container>
                <app-item-upgrade [item_info]="item_info"
                                  [stat]="1"
                                  [enhancement]="enhancement">
                </app-item-upgrade>
                <app-item-upgrade [item_info]="item_info"
                                  [stat]="6"
                                  [enhancement]="enhancement">
                </app-item-upgrade>
            </span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mdamage">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>M.Damage</mat-header-cell>
        <mat-cell *matCellDef="let item">
            <span style="text-align:center"
                  *ngIf="(item.item_info | async) as item_info">
                <ng-container *ngIf="item_info.hasMDmgPlus">
                    {{ item_info.stats.mdmg_plus }}
                </ng-container>
                <ng-container *ngIf="item_info.max_mag_atk > 0">
                    {{ item_info.min_mag_atk }}~{{item_info.max_mag_atk}}
                </ng-container>
                <ng-container *ngIf="item_info.max_mag_atk == 0 && !item_info.hasMDmgPlus">
                    0
                </ng-container>
                <app-item-upgrade [item_info]="item_info"
                                  [stat]="3"
                                  [enhancement]="enhancement">
                </app-item-upgrade>
                <app-item-upgrade [item_info]="item_info"
                                  [stat]="6"
                                  [enhancement]="enhancement">
                </app-item-upgrade>
            </span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="aim">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header
                         class="aim-column">
            Aim
        </mat-header-cell>
        <mat-cell *matCellDef="let item"
                  class="aim-column">
            <ng-container *ngIf="(item.item_info | async) as item_info">
                {{ item_info.aim }}
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="aimRate">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>
            Aim Rate
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            <ng-container *ngIf="(item.item_info | async) as item_info">
                <ng-container *ngIf="item_info.stats; else noStats">
                    {{ item_info.stats.aim_rate / 10 }}%
                </ng-container>
                <ng-template #noStats>
                    0%
                </ng-template>
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="crit">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header
                         class="crit-rate-column">
            Crit. Rate
        </mat-header-cell>
        <mat-cell *matCellDef="let item"
                  class="crit-rate-column">
            <ng-container *ngIf="(item.item_info | async) as item_info">
                {{ item_info.critical_rate / 10 }}%
                <app-item-upgrade [item_info]="item_info"
                                  [stat]="8"
                                  [enhancement]="enhancement">
                </app-item-upgrade>
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="atkspeed">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>Atk. Speed</mat-header-cell>
        <mat-cell *matCellDef="let item">
            <ng-container *ngIf="(item.item_info | async) as item_info">
                {{ item_info.attack_speed / 1000}}sec
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="defense">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>
            Defense
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            <span style="text-align:center"
                  *ngIf="(item.item_info | async) as item_info">
                {{ item_info.defense }}
                <app-item-upgrade [item_info]="item_info"
                                  [stat]="0"
                                  [enhancement]="enhancement">
                </app-item-upgrade>
                <app-item-upgrade [item_info]="item_info"
                                  [stat]="7"
                                  [enhancement]="enhancement">
                </app-item-upgrade>
            </span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mdefense">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>
            M.Defense
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            <span style="text-align:center"
                  *ngIf="(item.item_info | async) as item_info">
                {{ item_info.magical_defense }}
                <app-item-upgrade [item_info]="item_info"
                                  [stat]="4"
                                  [enhancement]="enhancement">
                </app-item-upgrade>
                <app-item-upgrade [item_info]="item_info"
                                  [stat]="7"
                                  [enhancement]="enhancement">
                </app-item-upgrade>
            </span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="evasion">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>
            Evasion
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            <ng-container *ngIf="(item.item_info | async) as item_info">
                {{ item_info.evasion }}
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="evasionRate">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>
            Evasion Rate
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            <ng-container *ngIf="(item.item_info | async) as item_info">
                <ng-container *ngIf="item_info.stats; else noStats">
                    {{ item_info.stats.eva_rate / 10 }}%
                </ng-container>
                <ng-template #noStats>
                    0%
                </ng-template>
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="blockrate">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header
                         class="block-rate-column">
            Block Rate
        </mat-header-cell>
        <mat-cell *matCellDef="let item"
                  class="block-rate-column">
            <ng-container *ngIf="(item.item_info | async) as item_info">
                {{ item_info.block_rate / 10 }}%
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buyprice">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>
            Buy Price
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            <ng-container *ngIf="(item.item_info | async) as item_info">
                <app-money [money]="item_info.buy_price"></app-money>
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sellprice">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header
                         class="sell-price-column">
            Sell Price
        </mat-header-cell>
        <mat-cell *matCellDef="let item"
                  class="sell-price-column">
            <ng-container *ngIf="(item.item_info | async) as item_info">
                <app-money [money]="item_info.sell_price"></app-money>
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="poisonresist">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>
            Poison Resist
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            <ng-container *ngIf="(item.item_info | async) as item_info">
                <ng-container *ngIf="item_info.stats; else noStats">
                    {{item_info.stats.poison_resist / 10}}%
                </ng-container>
                <ng-template #noStats>
                    0%
                </ng-template>
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="diseaseresist">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>
            Disease Resist
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            <ng-container *ngIf="(item.item_info | async) as item_info">
                <ng-container *ngIf="item_info.stats; else noStats">
                    {{item_info.stats.disease_resist / 10}}%
                </ng-container>
                <ng-template #noStats>
                    0%
                </ng-template>
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="curseresist">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>
            Curse Resist
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            <ng-container *ngIf="(item.item_info | async) as item_info">
                <ng-container *ngIf="item_info.stats; else noStats">
                    {{item_info.stats.curse_resist / 10}}%
                </ng-container>
                <ng-template #noStats>
                    0%
                </ng-template>
            </ng-container>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<app-table-no-results-found *ngIf="loadingErr == 'ok' && dataSource.data.length == 0"></app-table-no-results-found>

<app-page-loader [status]="loadingErr"></app-page-loader>

<mat-paginator [hidePageSize]="true"
               [pageIndex]="page.number"
               [length]="page.totalElements"
               [pageSize]="page.size"
               (page)="onPageChange($event)">
</mat-paginator>