<mat-form-field appearance="fill">
    <mat-label>
        <ng-container *ngIf="mapLoaded; else mapLoading">
            Choose Map
        </ng-container>
        <ng-template #mapLoading>
            Loading...
        </ng-template>
    </mat-label>
    <mat-select [(ngModel)]="map"
                [disabled]="!mapLoaded">
        <mat-option *ngFor="let map of maps"
                    [value]="map.id">
            {{map.name}}
        </mat-option>
    </mat-select>
</mat-form-field>