@import "styles.scss";

:host {
  display: inline-block;
}

.icon {
  height: 100%;
  background-color: black;
  border: 1px solid black;
}

svg {   
   vertical-align: middle;
}

.upgrade {
   stroke-width: 1;
}

.power-upgrade {
   fill: #ff8894;
   stroke: #880b0f;
}

.sp-upgrade {
   fill: #92fff4;
   stroke: #0b574a;
}

.duration-upgrade {
   fill: #fa86ff;
   stroke: #5a095f;
}

.cooldown-upgrade {
   fill: #80bcff;
   stroke: #092571;
}