<div class="icon fiesta-icon">
    <svg width="32"
         height="32">
        <defs>
            <filter [attr.id]="activeSkill.id + 'colorbalance'">
                <feColorMatrix type="matrix"
                               [attr.values]="colorMatrix" />
            </filter>
        </defs>
        <!-- let <image> height and width or it won't show the image on first draw in chrome -->
        <image height="32"
               width="32"
               [attr.filter]="'url(\'#' + activeSkill.id + 'colorbalance' + '\')'"
               [attr.href]="STATIC_ASSETS + skillView.icon_file  + '_' + skillView.icon_index + '.webp'" />
        <circle *ngFor="let key of powerUpgrade"
                class="upgrade power-upgrade"
                [attr.cx]="2 + key * 4"
                cy="2"
                r="2" />
        <circle *ngFor="let key of spUpgrade"
                class="upgrade sp-upgrade"
                cx="30"
                [attr.cy]="2 + key * 4"
                r="2" />
        <circle *ngFor="let key of durationUpgrade"
                class="upgrade duration-upgrade"
                cx="2"
                [attr.cy]="30 - key * 4"
                r="2" />
        <circle *ngFor="let key of cooldownUpgrade"
                class="upgrade cooldown-upgrade"
                [attr.cx]="30 - key * 4"
                cy="30"
                r="2" />
    </svg>
</div>