@import 'styles.scss';

:host {
   display: block;
}

.search-block {
   padding: 5px 10px;
   color: white;

   button {
      margin-left: 10px;
   }
}

.filter-button {
   display: flex;
   justify-content: center;
   padding: 5px;
}