@use '@angular/material'as mat;
@import "styles.scss";
@import "style/colors";

.skill-page {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.level-input {
    width: 100px;

    input {
        text-align: center;
    }
}

.class-combo,
.level-input {
    margin: 0 15px;
}

.select-up,
.select-down {
    width: 20px;

    &:hover {
        background-color: white;
    }
}

.empowerment-row {
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    color: white;
}

.share-input {
    margin: 0 15px;
}

.upgrade {
    stroke-width: 2;
}

.power-upgrade {
    fill: #ff8894;
    stroke: #880b0f;
}

.sp-upgrade {
    fill: #92fff4;
    stroke: #0b574a;
}

.duration-upgrade {
    fill: #fa86ff;
    stroke: #5a095f;
}

.cooldown-upgrade {
    fill: #80bcff;
    stroke: #092571;
}

.empowerment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empowerment-controls {
    display: flex;
    align-items: center;

    .empowerment-icon {
        display: inline-block;
        width: 45px;
        height: 45px;
        background-size: contain;
        border: 1px solid black;
    }

    .power {
        background-image: url('/assets/skillpwricon_0.webp');
    }

    .sp {
        background-image: url('/assets/skillpwricon_1.webp');
    }

    .duration {
        background-image: url('/assets/skillpwricon_2.webp');
    }

    .cooldown {
        background-image: url('/assets/skillpwricon_3.webp');
    }
}