<app-page-header [title]="PAGE_TITLE">
    <div class="page-filters">
        <app-multi-selection [title]="'Class'"
                             [(value)]="filteredClass"
                             ngDefaultControl>
            <app-multi-selection-option [value]="0"><span i18n>None</span></app-multi-selection-option>
            <app-multi-selection-option [value]="1"><span>{{CLASSES.fighter}}</span></app-multi-selection-option>
            <app-multi-selection-option [value]="2"><span>{{CLASSES.cleric}}</span></app-multi-selection-option>
            <app-multi-selection-option [value]="3"><span>{{CLASSES.archer}}</span></app-multi-selection-option>
            <app-multi-selection-option [value]="4"><span>{{CLASSES.mage}}</span></app-multi-selection-option>
            <app-multi-selection-option [value]="5"><span>{{CLASSES.trickster}}</span></app-multi-selection-option>
            <app-multi-selection-option [value]="6"><span>{{CLASSES.crusader}}</span></app-multi-selection-option>
        </app-multi-selection>

        <div>
            <mat-checkbox [(ngModel)]="hideEvents" i18n>Hide Events</mat-checkbox>
            <br>
            <button mat-flat-button
                    color="accent"
                    (click)="onFilter()" i18n>
                Filter
            </button>
        </div>
    </div>
</app-page-header>

<div class="level-list content-block">
    <div class="level-page"
         *ngFor="let level of levelRange; let i = index"
         [ngClass]="{ 'selected': currentPage == i}">
        <a [routerLink]="['/quests', i]"
           queryParamsHandling="preserve">
            <b>{{ i * 10 }}</b>
        </a>
    </div>
</div>

<div class="page-content">
    <app-quest-level *ngFor="let levelInfo of questLevelInfos"
                     [levelInfo]="levelInfo"
                     [quests]="levelInfo.quests">
    </app-quest-level>
</div>