@import "style/colors.scss";
@import "styles.scss";

.level-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    position: sticky;
    top: $top-menu-height;
    z-index: 1000;

    .level-page {
        display: flex;
        min-width: 40px;
        height: 25px;
        padding: 7px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: inherit;

        &:hover, &.selected {
            background-color: $gray8;
        }

        a {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.page-filters {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px 0;

    &>* {
        margin: 0 5px;
    }
}