<div 
   *ngIf="abState.view"
   class="ab-state-title"
   >
   <app-ab-state-icon class="ab-state-icon" [abState]="abState"></app-ab-state-icon>
   <span class="ab-state-name">{{abState.view.description}}</span>
</div>

<ng-container *ngIf="abState.sub_ab_state">
   <div *ngIf="abState.sub_ab_state.effects.length > 0">
      <div class="ab-state-effects">
         <ng-container *ngFor="let effect of abState.sub_ab_state.effects">
            <div>
               {{effect | abStateEffect}}
            </div>
         </ng-container>
      </div>
   </div>

   <div class="ab-state-info">
      <!--<div>Type : {{abState.sub_ab_state.type}}</div>-->
      <!--<div>Sub Type : {{abState.sub_ab_state.sub_type}}</div>-->
      <div>Duration : {{abState.sub_ab_state.duration | fiestaSecondsTime:'1.1-1'}}</div>
      <div *ngIf="abState.stackable > 0">Stackable {{abState.stackable}} times</div>
   </div>
</ng-container>