<ng-container #vc></ng-container>

<ng-template #desktopView>
    <div class="select-layout">
        <div class="title">{{title}}</div>
        <ng-container *ngFor="let opt of options">
            <mat-checkbox [value]="opt.value"
                          (change)="onCheckChange($event)"
                          [checked]="itemChecked(opt.value)">
                <ng-template [ngTemplateOutlet]="opt.template"></ng-template>
            </mat-checkbox>
        </ng-container>
    </div>
</ng-template>

<ng-template #mobileView>
    <mat-form-field>
        <mat-label>{{title}}</mat-label>
        <mat-select [value]="value"
                    (selectionChange)="onSelectChange($event)"
                    (openedChange)="mobileDropdownChanged($event)"
                    [multiple]="multiple">
            <ng-container *ngFor="let opt of options">
                <mat-option [value]="opt.value">
                    <ng-template [ngTemplateOutlet]="opt.template"></ng-template>
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
</ng-template>