.select-layout {
   display: flex;
   flex-direction: column;
   padding: 5px 2em 5px 5px;
   margin-bottom: 1.25em;
   border-bottom: 1px solid white;

   .title {
      color: rgba(255, 255, 255, 0.7);
      font-weight: 500;
      font-size: 0.8em;
      margin-bottom: 0.3em;
   }
}