<h2 mat-dialog-title>Create Item Category</h2>
<mat-dialog-content class="dialog-content">
   <form
      [formGroup]="storeCategoryForm"
      >
      <mat-form-field>
      <mat-label>Item Category Name</mat-label>
      <input 
         matInput
         [formControl]="nameControl"
         >
      </mat-form-field>
      <mat-form-field>
      <mat-label>Item Category Type</mat-label>               
         <mat-select
            [formControl]="typeControl">
            <mat-option 
               *ngFor="let type of categorieTypes"
               [value]="type.value"
               >
            {{type.name}}
            </mat-option>
         </mat-select>
      </mat-form-field>
   </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="category">{{validationButtonName}}</button>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
</mat-dialog-actions>