@use '@angular/material' as mat;
@import "styles.scss";
@import "style/var.scss";

:host {
   display: block;
}

.detail-row {
   overflow: hidden;
   background-color: mat.get-color-from-palette($md-fiesta-background, 400);
}

.clickable-row {
   cursor: pointer;
}

.clickable-row:hover {
   background: #777 !important;
}

.empowerment-text {
  color: yellow;
}

.ab-state-layout {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 5px;
}

.ab-state {
   margin: 5px;
   padding: 5px 10px;
   background-color: mat.get-color-from-palette($md-fiesta-background, 500);
}

.party-member-ab-state-layout {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.party-member-ab-state-title {
   font-weight: 550;
   font-size: 1.0em;
   margin: 5px 0;
}

.table-power-cell {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.table-sp-cell,
.table-duration-cell,
.table-cooldown-cell
{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.mat-sub-row {
   display: flex;
   flex-direction: column;
}

.sub-ab-state-effects {
   display: flex;
}