<app-page-header [title]="'Sandbox'">
</app-page-header>

<div class="content-block">
    <div class="search-block">
        <form [formGroup]="searchFormGroup" (ngSubmit)="onSubmit()">
            <div class="search-bar">
                <mat-form-field>
                    <mat-label>Id</mat-label>
                    <input matInput
                           formControlName="search">
                </mat-form-field>
                <button type="submit" mat-flat-button>Search</button>
            </div>
            <mat-radio-group formControlName="type">
                <mat-radio-button value="item">Items</mat-radio-button>
                <mat-radio-button value="mob">Mobs</mat-radio-button>
            </mat-radio-group>
        </form>
    </div>
</div>

<router-outlet></router-outlet>