.content-block {
    padding: 1em;
    margin-bottom: 50px;
}

form
{
    width: 500px;
    display: inline-block;
}

.search-bar {
    display: flex;
    align-items: center;

    .mat-form-field {
        flex: 1;
        margin-right: 1em;
    }
}

.search-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-radio-group {
    display: flex;
    justify-content: center;

    .mat-radio-button {
        margin-right: 1em;
    }
}