.mat-icon {
    margin-right: 2px;
    height: 15px !important;
    width: 15px !important;
    min-height: 15px !important;
    min-width: 15px !important;
}

.quest-type-icon {
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

.quest-title {
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}