<div fxLayout="row"
      fxLayoutGap="4px">
    <!--({{ quest.id }})-->
    <mat-icon *ngIf="quest.remote_pick_up && !quest.remote_turn_in"
              matTooltip="Remote pick up"
              class="quest-type-icon">
        expand_more
    </mat-icon>
    <mat-icon *ngIf="!quest.remote_pick_up && quest.remote_turn_in"
              matTooltip="Remote turn in"
              class="quest-type-icon">
        expand_less
    </mat-icon>
    <mat-icon *ngIf="quest.remote_pick_up && quest.remote_turn_in"
              matTooltip="Remote pick up and turn in"
              class="quest-type-icon">
        unfold_more
    </mat-icon>
    <mat-icon *ngIf="quest.repeat"
              matTooltip="Repeatable"
              class="quest-type-icon">
        cached
    </mat-icon>
    <span class="quest-title">
        {{ quest.title }}
        <ng-container *ngIf="quest.start_class > 0 && quest.start_class < 28">
            ({{ quest.start_class | className}} only)
        </ng-container>
    </span>
</div>