<app-item-icon [item]="item"
               [enhancement]="enhancement"
               [width]="size"
               [height]="size">
</app-item-icon>
<ng-container *ngIf="item">
    <span class="item-name"
          [ngStyle]="{ 'color' : (item.item_grade_type | itemGradeColor)}">
        {{item.name}}
    </span>
</ng-container>