<h2 mat-dialog-title>Create Store Item</h2>
<mat-dialog-content class="dialog-content">
    <form [formGroup]="storeItemForm"
          class="search-input">
        <mat-form-field>
            <input matInput
                   placeholder="Search item"
                   [matAutocomplete]="itemAuto"
                   [formControl]="nameControl">
            <mat-autocomplete #itemAuto="matAutocomplete"
                              (optionSelected)="onItemSelected($event)"
                              [displayWith]="displayItemName">
                <mat-option *ngIf="isLoading">Loading...</mat-option>
                <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let item of items"
                                [value]="item">
                        <div class="option">
                            <app-item-icon [item]="item"></app-item-icon>
                            <b>{{item.name}}</b>
                        </div>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput
                   type="number"
                   placeholder="SC price"
                   formControlName="sc"
                   [formControl]="scControl">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Duration</mat-label>
            <mat-select [formControl]="durationControl">
                <mat-option class="store-category-time"
                            [value]="0">None</mat-option>
                <mat-option *ngFor="let c of timeCategories"
                            class="store-category-time"
                            [value]="c.id">{{c.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Slot</mat-label>
            <mat-select [formControl]="slotControl">
                <mat-option class="store-category-slot"
                            [value]="0">None</mat-option>
                <mat-option *ngFor="let c of slotCategories"
                            class="store-category-slot"
                            [value]="c.id">{{c.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Designer</mat-label>
            <mat-select [formControl]="designerControl">
                <mat-option class="store-category-designer"
                            [value]="0">None</mat-option>
                <mat-option *ngFor="let c of designerCategories"
                            class="store-category-designer"
                            [value]="c.id">{{c.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let c of item.categories"
                          [removable]="true"
                          (removed)="onRemoveCategory(c)">
                    {{c.name}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="New category..."
                       #categoryInput
                       [formControl]="categoriesControl"
                       [matAutocomplete]="categoryAuto"
                       [matChipInputFor]="chipList">
            </mat-chip-list>
            <mat-autocomplete #categoryAuto="matAutocomplete"
                              (optionSelected)="onCategorySelected($event)">
                <mat-option [ngClass]="{
               'store-category-time': c.type == 0,
               'store-category-stats': c.type == 1,
               'store-category-slot': c.type == 2,
               'store-category-designer': c.type == 3
            }"
                            *ngFor="let c of filteredCategories"
                            [value]="c"
                            ngStyle>
                    {{c.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput
                   placeholder="Store link"
                   [formControl]="linkControl">
        </mat-form-field>

        <div class="set-div"
             *ngIf="item.set">
            Set : {{item.set.name}}
            <button mat-button
                    color="warn"
                    (click)="onRemoveSet()">Remove</button>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button
            [mat-dialog-close]="item">{{validationButtonName}}</button>
    <button mat-button
            [mat-dialog-close]="null">Cancel</button>
</mat-dialog-actions>